#too5tsip8 {
	vertical-align: center;
	text-align: center;
}

#hian2si7too5it4,#hian2si7too5ji7 {
	height: 4em;
	width: 4em;
	border: 1px solid #000000;
}

#hian2si7too5it4 {
	display: block;
}

#hian2si7too5ji7 {
	display: none;
}

#su1jip8 {
	min-width: 20em;
}

.tsoo2ji7liu2a2 {
	
}

#sang3tsut4liu2a2 {
	
}

#ket4ko2 {
	border: 1px solid #000000;
	min-height: 10em;
}