sudo: false
language: node_js
node_js:
# - '4'
# - '5'
- '6'
env:
- TSI2_LING7='build'
# - TSI2_LING7='test'
branches:
  only:
  - master
  - react
script:
- echo npm run $TSI2_LING7
- npm run $TSI2_LING7
# before_deploy:
# - npm run build
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: build/
  github_token:
    secure: rR6GEVnfMDCbBxh3tYvAm2DwPgMI3NlouVRl7SYX5JNJYe1BeCCEXblIumQ1GMbCSHhur6y611pMGZsdiFQdkcSlWU0akZIz4kUZDZZL8J/GpMY/WvbBqC3YUas/PJj9gXmoahOgqIs4x7ngbDmtfsoVoPj91Ky0pcALYJigSnh58AIx3lI0zDgabMEVaDaiJ0rFiZoWbdPtqCslpVusWkzzZTgb9DikfbQHs8FUiL55scQwmpfVnLx583aKfxLI6uFNu8wmTS3Jr4tvUMgLkE51eRWmyNJ+CSd5lGvBcW49G2VZYUkf6jBznG6HSmaocfh/EYdACGHd3CV6IvoxSMnvQEHqlSXa+K5q3G4lIAAg7iKL71mvimNslTGlJiG6mNRgNrbL1fD3eL9RWddpTZMIZJ0hDmbZ6WLokNclQIjxa3dZv975Aafcx0GETpKIRr1yAMWcWaQbuideno0lXHX4v9d5fjwbqG/2QrPDQgPpDBZ3ybuki9djwQ83P7bs5w2f/JE8pyB7zZByuK5zNZXKQv3V7JgjuiMyInYSJUWSJ1abvgCLcC2JpW47ZU+Q37VDR5d0l3EjIJiywZYZW9PLLe+SXlIwKmzstKKqvWStYS44XbHIxPszhGrjC+hJOqhWGaPo6jlTQo39ZzVEHVs5wbyRmL78VOWweXtDbMA=
  on:
    branch: master
