
		<div class="huainn5">
		<article class="大字">

<b>
<ruby><rb>悲⿿ㄅㄧ</rb><rt>
pi1</rt></ruby><ruby><rb>慘⿿⿿ㄘㆰˋ</rb><rt>
tsham2</rt></ruby><ruby><rb>世⿿⿿ㄙㆤ˪</rb><rt>
se3</rt></ruby><ruby><rb>界⿿⿿ㄍㄞ˪</rb><rt>
kai3</rt></ruby></b>
<hr/>
	<p>
	原曲：Claude-Michel Schönberg　閩南語詞：吳易澄醫師<br/>
<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/lJl_3gvDCXU?rel=0" frameborder="0" allowfullscreen></iframe> -->
<br/>
<ruby><rb>你⿿⿿ㄌㄧˋ</rb><rt>
li2</rt></ruby><ruby><rb>敢⿿⿿ㄍㆰˋ</rb><rt>
kam2</rt></ruby><ruby><rb>有⿿ㄨ˪</rb><rt>
u7</rt></ruby><ruby><rb>聽⿿⿿ㄊㄧㆩ</rb><rt>
thiann1</rt></ruby><ruby><rb>著⿿⿿⿿⿿ㄉㄧㄜ㆐ㆷ</rb><rt>
tioh8</rt></ruby><ruby><rb>咱⿿⿿ㄌㄢˋ</rb><rt>
lan2</rt></ruby><ruby><rb>唱⿿⿿⿿ㄑㄧㆫ˪</rb><rt>
tshiunn3</rt></ruby><ruby><rb>歌⿿⿿ㄍㄨㄚ</rb><rt>
kua1</rt></ruby><br/>
<ruby><rb>唱⿿⿿⿿ㄑㄧㆫ˪</rb><rt>
tshiunn3</rt></ruby><ruby><rb>出⿿⿿ㄘㄨㆵ</rb><rt>
tshut4</rt></ruby><ruby><rb>艱⿿ㄍㄢ</rb><rt>
kan1</rt></ruby><ruby><rb>苦⿿⿿ㄎㆦˋ</rb><rt>
khoo2</rt></ruby><ruby><rb>人⿿⿿ㄌㄢˊ</rb><rt>
lang5</rt></ruby><ruby><rb>的⿿ㆤˊ</rb><rt>
e5</rt></ruby><ruby><rb>苦⿿⿿ㄎㆦˋ</rb><rt>
khoo2</rt></ruby><ruby><rb>痛⿿⿿⿿ㄊㄧㆩ˪</rb><rt>
thiann3</rt></ruby><br/>
<ruby><rb>這⿿ㄗㆤ</rb><rt>
tse1</rt></ruby><ruby><rb>是⿿⿿ㄒㄧ˫</rb><rt>
si7</rt></ruby><ruby><rb>咱⿿⿿ㄌㄢˋ</rb><rt>
lan2</rt></ruby><ruby><rb>毋⿿ㆬ˫</rb><rt>
m7</rt></ruby><ruby><rb>願⿿⿿⿿ㆣㄨㄢ˫</rb><rt>
guan7</rt></ruby><ruby><rb>一⿿⿿⿿ㄐㄧ㆐ㆵ</rb><rt>
tsit8</rt></ruby><ruby><rb>世⿿⿿ㄒㄧ˪</rb><rt>
si3</rt></ruby><ruby><rb>人⿿⿿ㄌㄤˊ</rb><rt>
lang5</rt></ruby><br/>
<ruby><rb>成⿿⿿⿿ㄐㄧㆩˊ</rb><rt>
tsiann5</rt></ruby><ruby><rb>做⿿⿿ㄗㄜ˪</rb><rt>
tso3</rt></ruby><ruby><rb>奴⿿⿿ㄌㆦˊ</rb><rt>
loo5</rt></ruby><ruby><rb>隸⿿⿿ㄌㆤ˫</rb><rt>
le7</rt></ruby><ruby><rb>的⿿ㆤˊ</rb><rt>
e5</rt></ruby><ruby><rb>心⿿⿿ㄒㄧㆬ</rb><rt>
sim1</rt></ruby><ruby><rb>聲⿿⿿ㄒㄧㆩ</rb><rt>
siann1</rt></ruby><br/>
<ruby><rb>咱⿿⿿ㄌㄢˋ</rb><rt>
lan2</rt></ruby><ruby><rb>的⿿ㆤˊ</rb><rt>
e5</rt></ruby><ruby><rb>心⿿⿿ㄒㄧㆬ</rb><rt>
sim1</rt></ruby><ruby><rb>振⿿⿿⿿ㄉㄧㄣˋ</rb><rt>
tin2</rt></ruby><ruby><rb>動⿿⿿ㄉㄤ˫</rb><rt>
tang7</rt></ruby><ruby><rb>袂⿿⿿ㆠㆤ˫</rb><rt>
be7</rt></ruby><ruby><rb>定⿿⿿⿿ㄉㄧㆩ˫</rb><rt>
tiann7</rt></ruby><br/>
<ruby><rb>若⿿⿿ㄋㄚˋ</rb><rt>
na2</rt></ruby><ruby><rb>親⿿⿿ㄘㄧㄣ</rb><rt>
tshin1</rt></ruby><ruby><rb>像⿿⿿⿿ㄑㄧㆫ˫</rb><rt>
tshiunn7</rt></ruby><ruby><rb>勇⿿⿿ㄧㆲˋ</rb><rt>
iong2</rt></ruby><ruby><rb>敢⿿⿿ㄍㆰˋ</rb><rt>
kam2</rt></ruby><ruby><rb>的⿿ㆤˊ</rb><rt>
e5</rt></ruby><ruby><rb>鼓⿿⿿ㄍㆦˋ</rb><rt>
koo2</rt></ruby><ruby><rb>聲⿿⿿ㄒㄧㆩ</rb><rt>
siann1</rt></ruby><br/>
<ruby><rb>希⿿ㄏㄧ</rb><rt>
hi1</rt></ruby><ruby><rb>望⿿⿿ㆠㄤ˫</rb><rt>
bang7</rt></ruby><ruby><rb>有⿿ㄨ˫</rb><rt>
u7</rt></ruby><ruby><rb>一⿿⿿⿿ㄐㄧ㆐ㆵ</rb><rt>
tsit8</rt></ruby><ruby><rb>工⿿ㄍㄤ</rb><rt>
kang1</rt></ruby><br/>
<ruby><rb>活⿿⿿⿿ㄨㄚ㆐ㆷ</rb><rt>
uah8</rt></ruby><ruby><rb>出⿿⿿ㄘㄨㆵ</rb><rt>
tshut4</rt></ruby><ruby><rb>自⿿⿿ㄗㄨ˫</rb><rt>
tsu7</rt></ruby><ruby><rb>由⿿⿿ㄧㄨˊ</rb><rt>
iu5</rt></ruby><ruby><rb>的⿿ㆤˊ</rb><rt>
e5</rt></ruby><ruby><rb>新⿿⿿ㄒㄧㄣ</rb><rt>
sin1</rt></ruby><ruby><rb>性⿿⿿ㄙㆪ˪</rb><rt>
sinn3</rt></ruby><ruby><rb>命⿿⿿⿿ㄇㄧㄚ˫</rb><rt>
mia7</rt></ruby><br/>
<ruby><rb>請⿿⿿⿿ㄑㄧㆩˋ</rb><rt>
tshiann2</rt></ruby><ruby><rb>你⿿⿿ㄌㄧˋ</rb><rt>
li2</rt></ruby><ruby><rb>加⿿ㄍㄚ</rb><rt>
ka1</rt></ruby><ruby><rb>入⿿⿿⿿ㆢㄧ㆐ㆴ</rb><rt>
jip8</rt></ruby><ruby><rb>阮⿿⿿⿿ㆣㄨㄢˋ</rb><rt>
guan2</rt></ruby><ruby><rb>的⿿ㆤˊ</rb><rt>
e5</rt></ruby><ruby><rb>革⿿⿿ㄍㄧㆶ</rb><rt>
kik4</rt></ruby><ruby><rb>命⿿⿿⿿ㆠㄧㄥ˫</rb><rt>
bing7</rt></ruby><br/>
<ruby><rb>阮⿿⿿⿿ㆣㄨㄢˋ</rb><rt>
guan2</rt></ruby><ruby><rb>毋⿿ㆬ˫</rb><rt>
m7</rt></ruby><ruby><rb>願⿿⿿⿿ㆣㄨㄢ˫</rb><rt>
guan7</rt></ruby><ruby><rb>閣⿿⿿ㄍㄜㆷ</rb><rt>
koh4</rt></ruby><ruby><rb>受⿿⿿⿿ㄒㄧㄨ˫</rb><rt>
siu7</rt></ruby><ruby><rb>驚⿿⿿ㄍㄧㆩ</rb><rt>
kiann1</rt></ruby><ruby><rb>惶⿿⿿⿿ㄏㄧㆩˊ</rb><rt>
hiann5</rt></ruby><br/>
<ruby><rb>攑⿿⿿⿿⿿ㆣㄧㄚ㆐ㆷ</rb><rt>
giah8</rt></ruby><ruby><rb>頭⿿⿿ㄊㄠˊ</rb><rt>
thau5</rt></ruby><ruby><rb>看⿿⿿⿿ㄎㄨㆩ˪</rb><rt>
khuann3</rt></ruby><ruby><rb>著⿿⿿⿿ㄉㄧㄜㆷ</rb><rt>
tioh8</rt></ruby><ruby><rb>天⿿ㄊㆪ</rb><rt>
thinn1</rt></ruby><ruby><rb>頂⿿⿿⿿ㄉㄧㄥˋ</rb><rt>
ting2</rt></ruby><ruby><rb>一⿿⿿⿿ㄐㄧ㆐ㆵ</rb><rt>
tsit8</rt></ruby><ruby><rb>個⿿⿿ㄌㆤˊ</rb><rt>
le5</rt></ruby><ruby><rb>世⿿⿿ㄙㆤ˪</rb><rt>
se3</rt></ruby><ruby><rb>界⿿⿿ㄍㄞ˪</rb><rt>
kai3</rt></ruby><br/>
<ruby><rb>夢⿿⿿ㆠㄤ˫</rb><rt>
bang7</rt></ruby><ruby><rb>中⿿⿿ㄉㄧㆲ</rb><rt>
tiong1</rt></ruby><ruby><rb>嘛⿿⿿ㄇㄚ˫</rb><rt>
ma7</rt></ruby><ruby><rb>毋⿿ㆬ˫</rb><rt>
m7</rt></ruby><ruby><rb>捌⿿⿿ㆠㄚㆵ</rb><rt>
bat4</rt></ruby><ruby><rb>聽⿿⿿ㄊㄧㆩ</rb><rt>
thiann1</rt></ruby><br/>
<ruby><rb>咱⿿⿿ㄌㄢˋ</rb><rt>
lan2</rt></ruby><ruby><rb>為⿿⿿ㄨㄧˊ</rb><rt>
ui5</rt></ruby><ruby><rb>民⿿⿿⿿ㆠㄧㄣˊ</rb><rt>
bin5</rt></ruby><ruby><rb>主⿿⿿ㄗㄨˋ</rb><rt>
tsu2</rt></ruby><ruby><rb>為⿿⿿ㄨㄧˊ</rb><rt>
ui5</rt></ruby><ruby><rb>自⿿⿿ㄗㄨ˫</rb><rt>
tsu7</rt></ruby><ruby><rb>由⿿⿿ㄧㄨˊ</rb><rt>
iu5</rt></ruby><br/>
<ruby><rb>做⿿⿿ㄗㄜ˪</rb><rt>
tso3</rt></ruby><ruby><rb>一⿿⿿⿿ㄐㄧ㆐ㆵ</rb><rt>
tsit8</rt></ruby><ruby><rb>伙⿿⿿⿿ㄏㄨㆤˋ</rb><rt>
hue2</rt></ruby><ruby><rb>佮⿿⿿ㄍㄚㆷ</rb><rt>
kah4</rt></ruby><ruby><rb>伊⿿ㄧ&nbsp;</rb><rt>
i1</rt></ruby><ruby><rb>拼⿿⿿⿿ㄅㄧㆩ˪</rb><rt>
piann3</rt></ruby><br/>
(反覆）
<br/>
	
	
</p>
</article>
		</div>		
		