<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="{% block 網頁描述 %}意傳文化科技開發免費的閩南語，客語的語言工具{% endblock %}">
	<title>{% block 標題 %}意傳文化科技{% endblock %}</title>
	{% load staticfiles %}
	<!--<%= favicon_link_tag 'favicon_i3thuan5.png' ,:type => 'image/png' %>-->
	<link rel="stylesheet" type="text/css" href="{% static '意傳網站/stylesheets/i3thuan5.css' %}" />
	<link rel="shortcut icon" href="{% static '意傳網站/images/favicon_i3thuan5_pink.png' %}" type='image/png' >
	{% block extrahead %}{% endblock %}
  
</head>

<body>
	<div id="網頁最外圍">
		<div id="leftWrapper">
			<div id="mainContainer">
				{% block 內容 %}意傳文化科技{% endblock %}
			</div>
		</div>
		
		<div id="rightWrapper">
			<div id="logobox">
				<a id="logo" href="http://意傳.台灣/">
					<img alt="LOGO" src="/assets/pan2_hing5/ituanLOGO_1.png" border="0" width="100%"></img>
				</a>
			</div>
			<div  id="副標題" class="fontKai">閩南語、客語教材系統</div>
			
			<nav id="topNav">
			<ul>
				<li><a href="{% url '關於意傳' %}">關於意傳</a></li>
			
				<li>線上標音
					<table>
					<tr><td><a href="{% url '標音方法' %}#線上標音">標音方法</a></td></tr>
					<tr><td><a href="{% url '標音說明' %}#使用說明">標音說明</a></td></tr>
					<tr><td><a href="{% url '橫式範例' %}">標音範例</a></td></tr>
					<tr><td><a href="{% url '標音程式下載' %}#程式下載">標音程式下載</a></td></tr>							
					</table>
				</li>				
				<li>線上組字
					<table>
					<tr><td><a href="{% url '線上組字' %}#線上組字">線上組字",:anchor=>'線上組字' %></td></tr>
					<tr><td><a href="{% url '組字說明' %}#使用說明">組字說明",:anchor=>'' %></td></tr>
					<tr><td><a href="{% url '組字程式下載' %}#程式下載">程式下載</a></td></tr>
					</table>
				</li>				
				<li><a href="{% url '閩客故事' %}">閩客故事</a></li>				
				<li><a href="{% url '相關連結' %}">相關連結</a></li>
				<li class="last"><a href="{% url '聯絡我們' %}">聯絡我們</a></li>
			</ul>
			</nav>
			
		</div>		
	</div>
	<script>
	
		(function($){
			
			//cache nav
			var nav = $("#topNav");
			
			//add indicator and hovers to submenu parents
			nav.find("li").each(function() {
				if ($(this).find("table").length > 0) {
					//$("<span>").text("^").appendTo($(this).children(":first"));

					//show subnav on hover
					$(this).mouseenter(function() {
						$(this).find("table").stop(true, true).toggle("slideDown");
					});
					
					//hide submenus on exittt
					$(this).mouseleave(function() {
						$(this).find("table").stop(true, true).css('display','none');
						//slideUp()
					});
				}
			});
			
		})(jQuery);
	</script>
	<script type="text/javascript">bang2tsam7khai1si2();
	/*$(function()
			{
				$('#mainContainer').jScrollPane({showArrows: true});
	});*/
	</script>  
	
</body>
</html>
