{% extends "意傳網站/框.html" %}
{% block 標題 %}
	標音說明
{% endblock %}

{% block 網頁描述 %}
	幫您作出國語翻閩南語、國語翻客語、閩南語標音、客語標音。可複製翻譯和標音結果，還可以聽見發音。
{% endblock %}

{% block 內容 %}

<div class="huainn5">
<article>
	<section class="font22px" id="標音工具使用說明">
		<nav>
			<span><a href="#標音工具使用說明">▼標音工具說明</a></span>
			<span><a href="#下載標音或翻譯結果">▼下載標音結果/翻譯結果</a></span>
		</nav><br/>
		
		<header>標音工具說明<hr/></header>
		
		{% load staticfiles %}
		<div style="text-align:center;min-width:300px;min-height:85px;">
			<img src="{% static '意傳網站/images/標音流程.svg'%}" width="80%"/>
		</div>
		<p>標音工具提供標音、翻譯、發音三個功能，先依照不同需求選擇使用前兩項，做完就可使用發音。</p>		
		
		<!-- <table style="border:1px solid black;width:80%;margin:0 auto;">
		<tr>
			<td>狀況一.如何用閩客語寫這一句國語？
			<td>答：<strong class="blue">翻譯</strong>
		</tr>
		<tr>
			<td>狀況二.如何寫這一句閩客語的注音？
			<td>答：您輸入的方言句子 -> <strong class="red">標音</strong>  
			
		</tr>
		<tr>
			<td>狀況三. 如何用閩客語唸這一句國語？
			<td>答：<strong class="blue">翻譯</strong>  -> <strong class="green">發音</strong>
		</tr>
		</table>
		<br/> -->
		
		<ul>
		<li><strong class="blue">翻譯</strong>
			<ol>
			<li>左方的文字區輸入國語句子
			<li>指定右方上面的翻譯腔調，例如：閩南泉腔（閩南語的泉州腔）
			<li>按下「翻譯」
			<li>右方下面顯示翻譯句
			</ol>
		</li>
			
		<li><strong class="red">標音</strong>
			<ol>
			<li>左方的文字區輸入方言句子，也可以混合輸入臺灣閩客語羅馬拼音、<a href="{% url '線上組字' %}">組字工具</a>組字式
			<li>左右兩邊選擇一樣的腔調，例如：左右都選擇閩南泉腔
			<li>按下「標音」
			<li>右方下面顯示標音句
			</ol>
		</li>

		<li><strong class="green">發音</strong>
			<ol>
			<li>做完翻譯或標音後 <strong class="green">※必須先完成其一</strong>
			<li>按下喇叭圖示
			<li>幾秒後，可聽見發音
			</ol>
		</li>
		</ul>	
	</section>
	
	
	<section  class="font22px" id="下載標音或翻譯結果">
		<header>下載標音結果/翻譯結果<hr /></header>
		<p>
			完成翻譯或是標音的句子可以用在任何文字編輯器。如果句子無法正常顯示，請先由LibreOffice將標音結果存至odt檔。詳細流程如下：<br />
		</p>
		
		<ol>
		<li>
			請先下載並安裝<%= link_to("LibreOffice","http://zh-tw.libreoffice.org/download/", :target => "_blank")%>
			，選最新版的（第一個）即可。<br /><br /> 
			<%= image_tag('piau1im1/00.jpg', :class =>"suet4bing5too5") %><br /><br />
		</li>
		<!-- <p>
			1.先選擇需要的腔，標音方法，並輸入要標音的字。<br /> <%= image_tag('piau1im1/01.jpg',
			:class => "suet4bing5too5") %><br />
		</p>
		<p>
			2.按「標音」鍵，會產生標音結果。<br /> <%= image_tag('piau1im1/02.jpg', :class =>
			"suet4bing5too5") %><br />
		</p>
		<p>
			3.若有字音不符期待，可點選該字，就會變換標音。<br />
		</p>
		<p>
			4.標音完選好選項後按「製表」，產生表格格式供使用。<br /> <%= image_tag('piau1im1/04.jpg',
			:class => "suet4bing5too5") %><br />
		</p>
		<p>
			5.將網頁另存新檔。<br /> <%= image_tag('piau1im1/05.jpg', :class =>
			"suet4bing5too5") %><br />
		</p>
		<p>
			6.要選擇「完整格式」。<br /> <%= image_tag('piau1im1/06.jpg', :class =>
			"suet4bing5too5") %><br />
		</p> -->
		<li>
			開啟LibreOffice <br /><br /> <!-- <%=
			image_tag('piau1im1/07.jpg', :class => "suet4bing5too5") %><br /> -->
		</li>
		<!-- <li>
			可以看到網頁，將製表以外的額外頁面刪除，留需要的部份。<br /> <%=
			image_tag('piau1im1/08.jpg', :class => "suet4bing5too5") %><br />
		</li>-->
		<li>
			複製網頁上的標音結果（漢字大小比例預設為24），複製到LibreOffice <br /><br/>
			<%= image_tag('piau1im1/09.jpg', :class =>"suet4bing5too5") %><br /><br />
		</li>
		<li>
			選擇odt檔案格式<br /><br /> 
			<%= image_tag('piau1im1/10.jpg', :class =>"suet4bing5too5") %><br /><br />
		</li>
		<li>
			儲存odt檔後，就成功下載標音結果了！請用您喜好的文書處理器開啟此odt檔。※微軟 Word 2003之前的版本需再裝<a href="http://blog.ilc.edu.tw/blog/trackback.php?id=103211">「Sun ODF Plugin for Microsoft Office」</a>才能開odt檔
			<br /><br /><%=image_tag('piau1im1/11.jpg', :class => "suet4bing5too5") %><br /><br />
			<!-- <%=image_tag('piau1im1/12.jpg', :class => "suet4bing5too5") %><br /> -->
		</li>
		</ol>
		
		<div style="width:10px;height:1300px;"></div>
	</section> 
</article>
</div>
{% endblock %}