<%# encoding: utf-8 %>
<div class="huainn5">
	<article>
<section>
臺灣閩南語羅馬字拼音方案<hr/>
<p>
教育部九十七年版本的最近音標，自學門檻較高，正在想如何呈現，建議先看<a href="http://tailo.moe.edu.tw/">臺灣閩南語羅馬字拼音教學網</a><br/>
</p>
<br />
</section>
<section>
臺灣客家語羅馬字拼音方案<hr/>
<p>
由於本身學的客家話不夠精實，持續進步中。不敢說介紹，但列出相關連結供大家參考：<br/>
<a href="http://elearning.hakka.gov.tw/">哈客網路學院</a><br/>
<a href="http://www.edu.tw/FileUpload/3653-15592/Documents/hakka_pinyin3.pdf">拼音使用手冊</a><br/>
<a href="http://hakka.dict.edu.tw/hakkadict/">臺灣客家話常用辭典</a><br/>
</p>
<br />
</section>
<section>
教育部方音符號－吳守禮方音改良式<hr/>
<p>
民國三十五年由朱兆祥教授設計此注音符號[1]，教育部八十七年公告使用[2]，爾後教育部轉向羅馬拼音，其中吳守禮教授撰寫之大型閩南語辭典即用此符號[3]<br/>
考量到閩南語製作教材和自學所用講義不同，先提供有些微閩南語基礎者的教材，用漢字、注音符號相輔相成，爾後會提供足夠自學之講義。<br/>
</p>
<p>
大部份符號皆和國語相同，其中閩南語的「⿱ㄜ 」及「⿱ㄏ 」和國語的「⿱ㄜ 」及「⿱ㄏ 」有些微差異，細節就不在此敘述。<br/>
</p>
<p>
「⿱ㆠ 」：「⿱ㄅ 」加一個圈圈代表「⿱ㄅ 」的濁音<sup>*</sup>，「<span class="ji7im1">豬⿿ㄉㄧ</span><span class="ji7im1">肉⿿⿿ㆠㄚㆷ</span>」的「<span class="ji7im1">肉⿿⿿ㆠㄚㆷ</span>」、「<span class="ji7im1">無⿿⿿ㆠㄜˊ</span>上⿿⿿⿿ㄒㄧㆲ˫課⿿⿿ㄎㄜ˪」的「<span class="ji7im1">無⿿⿿ㆠㄜˊ</span>」，都是這個音。<br/>
「⿱ㆣ 」：「⿱ㄍ 」的濁音，此音不好發，可試著念看看「牛⿿⿿ㆣㄨˊ」，若自己唸像「⿿⿿ㄍㄨˊ」，可能需要他人幫忙。<br/>
「⿱ㆢ 」：「⿱ㄐ 」的濁音，有些地區以和l相混。如「寫⿿⿿⿿ㄒㄧㄚˋ字⿿⿿ㆢㄧ˫」，「爪⿿⿿⿿ㆢㄧㄠˋ耙⿿⿿ㄅㆤˊ仔⿿ㄚˋ」(打小報告的人)。<br/>
「⿱ㆡ 」：「⿱ㄗ 」的濁音，有些地區以和l相混。「熱⿿⿿⿿⿿ㆡㄨㄚ㆐ㆵ」是此音。<br/>
「⿱ㆬ 」：似「⿱ㄇ 」，不過「⿱ㄣ 」「⿱ㄥ 」一樣是當韻母。如「毋⿿ㆬ˫是⿿⿿ㄒㄧ˫」（不是）、「阿⿿ㄚ 姆⿿ㆬˋ」（伯母）。<br/>
「⿱ㄫ 」：似「⿱ㄥ 」，是聲母，如「硬⿿⿿ㄫㆤ˫」、「挾⿿⿿ㄫㆤ˪菜⿿⿿ㄗㄞ˪」。<br/>
「⿱ㆭ 」：似「⿱ㄥ 」、「⿱ㆭ 」，是韻化聲母，如「黃⿿ㄫˊ色⿿⿿⿿ㄒㄧ㆐ㆶ」、「門⿿⿿ㄇㆭˊ」、「輪⿿⿿⿿ㄌㄧㄢ˪轉⿿⿿ㄉㆭˋ」。<br/>
「⿱ㆰ 」：即為「⿱ㄚ 」+ 「⿱ㆬ 」。如「南⿿⿿ㄌㆰˊ部⿿⿿ㄅㆦ˫」、「貪⿿ㄊㆰ心⿿⿿ㄒㄧㆬ」。<br/>
「⿱ㆱ 」：即為「⿱ㆦ 」+ 「⿱ㆬ 」。如「貴⿿⿿⿿ㄍㄨㄧ˪蔘⿿ㄙㆱ蔘⿿ㄙㆱ」（很貴）、「蔘⿿ㄙㆱ仔⿿ㄚˋ」（人蔘）。<br/>
「⿱ㆤ 」：似國語的「⿱ㄝ 」。如「蝦⿿⿿ㄏㆤˊ仔⿿ㄚˋ」、「洗⿿⿿ㄙㆤˋ身⿿⿿ㄒㄧㄣ軀⿿ㄎㄨ」（洗澡）。<br/>
「⿱ㆦ 」：似國語的「⿱ㄛ 」。如「烏⿿ㆦ 色⿿⿿⿿ㄒㄧ㆐ㆶ」（黑色）、「阿⿿ㄚ 姑⿿ㄍㆦ」（姑姑）。<br/>
「⿱ㆲ 」：國語沒有相似音，但是此音很常發、很好學。如「王⿿ㆲˊ」、「爽⿿⿿ㄙㆲˋ」。<br/>
</p>
<p>
鼻化韻：發音鼻腔振動，建議用漢字學。韻母加一個圈圈代表鼻化。<br/>
「⿱ㆩ 」：「⿱ㄚ 」鼻化，如「衫⿿ㄙㆩ」（衣服）、「一⿿⿿⿿ㄐㄧ㆐ㆵ張⿿⿿ㄉㄧㆫ單⿿⿿ㄉㄨㆩ仔⿿ㄚˋ」（一張單子）的「單」，試著比較「阿⿿ㄚ 母⿿⿿ㆠㄨˋ」的「阿」和「紅⿿ㄤˊ豆⿿⿿ㄉㄠ˫餡⿿ㆩ˫」的「餡⿿ㆩ˫」。<br/>
「⿱ㆪ 」：「ㄧ」鼻化，試著比較「豬⿿ㄉㄧ」和「甜⿿ㄉㆪ」、「悲⿿ㄅㄧ哀⿿ㄞ 」的「悲⿿ㄅㄧ」和「邊⿿ㄅㆪ仔⿿˙ㄚ」的「邊」。<br/>
「⿱ㆫ 」：「⿱ㄨ 」鼻化，如「一⿿⿿⿿ㄐㄧ㆐ㆵ張⿿⿿ㄉㄧㆫ紙⿿⿿⿿ㄗㄨㄚˋ」的「張⿿⿿ㄉㄧㆫ」，並比較「薑⿿⿿ㄍㄧㆫ母⿿⿿ㆠㄜˋ」的「薑⿿⿿ㄍㄧㆫ」和「倒⿿⿿ㄉㄜˋ勼⿿⿿ㄍㄧㄨ」（縮小）的「勼⿿⿿ㄍㄧㄨ」。<br/>
「⿱ㆥ 」：「⿱ㆤ 」鼻化，試比較「生⿿ㄙㆥ日⿿⿿⿿ㆢㄧ㆐ㆵ」的「生」和「棉⿿⿿ㄇㄧˊ紗⿿ㄙㆤ」的「紗」、「星⿿ㄘㆤ」和「夫⿿ㄏㄨ妻⿿ㄘㆤ」的「妻⿿ㄘㆤ」。<br/>
「⿱ㆧ 」：「⿱ㆦ 」鼻化，較常出現在語助詞，「碗⿿⿿ㄨㆩˋ是⿿⿿ㄒㄧ˫你⿿⿿ㄌㄧˋ洗⿿⿿ㄙㆤˋ的⿿ㆤˊ乎⿿⿿ㄏㆧㆷ」（碗是你洗的吧），「是⿿⿿ㄒㄧ˫按⿿ㄢˋ呢⿿ㄋㆤ做⿿⿿ㄗㄜ˪乎⿿⿿ㄏㆧㆷ」（是這樣做吧）。<br/>
「⿱ㆮ 」：「⿱ㄞ 」鼻化，如「幌⿿⿿ㄏㆮˋ頭⿿⿿ㄊㄠˊ」（搖頭）、「橫⿿⿿⿿ㄏㄨㆮˊ直⿿⿿⿿ㄉㄧ㆐ㆵ」（反正）的「橫」。<br/>
</p>
<p>
「⿱ㆯ 」、「⿱ㄛ 」、「⿱ㆨ 」、「⿱ㄝ 」符號較少用先不介紹。<br/>
</p>
<p>
有興趣可參看<a href="http://olddoc.tmu.edu.tw/chiaushin/">台語天地</a>
</p>
<p>
<sup>*</sup>濁音：發音時喉嚨要振動，就像英文的「s」跟「z」，其差別就是「z」是濁音，喉嚨有振動，「s」是清音，喉嚨沒振動。<br/>
</p>
<p>
[1]吳守禮，華、台語注音符號溯源。http://olddoc.tmu.edu.tw/chiaushin/marker-0.htm。<br/>
[2]教育部，方音符號系統。中華民國八十七年一月十二日 台(87)語字第八七ＯＯＯ五七七號。http://www.edu.tw/pages/detail.aspx?Node=1075&amp;Page=9643&wid=c5ad5187-55ef-4811-8219-e946fe04f725&Index=1。<br/>
[3]吳昭新，華、台語注音符號溯源。http://olddoc.tmu.edu.tw/chiaushin/。<br/>
</p>
</section>
<section>
聲調<hr/>
涉及多種調值以及各種變調，整理中，八月底前會整理出來
</section>
	</article>
</div>
