{% extends "意傳網站/框.html" %}

{% block 標題 %}
	相關連結｜意傳文化科技{% endblock %}

{% block 網頁描述 %}
	在這裡列出一部分學習母語的網站。如果有任何建議，觀迎聯絡我們。
{% endblock %}

{% block 內容 %}

<%# encoding: utf-8 %>
<div class="tit8">
	<article>
		<section class="font22px">
			<header>相關網站<hr /></header>		
			
			<p>學習資源很多，在此附上適合閩南語和客語的初學者的部份資源。如果有任何建議，歡迎聯絡我們。</p>
			
			<p>閩南語：<br/>
			<%= link_to("臺灣閩南語常用詞辭典", "http://twblg.dict.edu.tw/holodict_new/", :target => "_blank") %><br/>
			<%= link_to("臺灣閩南語羅馬字拼音方案使用手冊", "http://www.edu.tw/FileUpload/3677-15601/Documents/tshiutsheh.pdf", :target => "_blank") %><br/>
			<%= link_to('信望愛台語語料庫','https://bitbucket.org/pcchen/nan', :target => "_blank") %><br/>
			</p>
			
			<p>客家話：<br/>
			<%= link_to("臺灣客家語羅馬字拼音方案使用手冊", "http://www.edu.tw/FileUpload/3653-15592/Documents/hakka_pinyin3.pdf", :target => "_blank") %><br/>
			<%= link_to("哈客網路學院", "http://elearning.hakka.gov.tw/", :target => "_blank") %><br/>
			<%= link_to("臺灣客家話常用辭典", "http://hakka.dict.edu.tw/hakkadict/", :target => "_blank") %><br/>
			</p>
			
			<p>漢語相關：<br/>
			<%= link_to("漢字古今音資料庫", "http://xiaoxue.iis.sinica.edu.tw/ccr/", :target => "_blank") %><br/>
			</p>
			
			<p>其他網站：<br/>
			<%= link_to("我愛巧宛然", "https://www.facebook.com/pages/%E6%88%91%E6%84%9B%E5%B7%A7%E5%AE%9B%E7%84%B6/400765906649247", :target => "_blank") %><br/>
			<%= link_to("iTaiwanese 台語研究團隊", "http://itaiwanese.org/", :target => "_blank") %><br/>
			<%= link_to("台語天地", "http://olddoc.tmu.edu.tw/chiaushin/", :target => "_blank") %><br/>
			<%= link_to("梁炯輝部落格", "http://tw.myblog.yahoo.com/minnanhanim20071-taiuanhanhak2006/", :target => "_blank") %><br/>
			<%= link_to("白話字台語文網站", "http://210.240.194.97/taigu.asp", :target => "_blank") %><br/>
			<%= link_to("台語半桶師雜記", "http://hik-u-tw.blogspot.tw/", :target => "_blank") %><br/>
			</p>
		</section>
	</article>
</div>

{% endblock %}