{% extends "意傳網站/框.html" %}

{% block 標題 %}
	程式下載｜意傳文化科技
{% endblock %}

{% block 網頁描述 %}
	意傳科技的工具皆開放下載，請在這下載組字工具的完整程式碼。
{% endblock %}

{% block 內容 %}
<div class="huainn5">
<article>
	<section id="程式下載" class="font22px">
		<header>組字程式下載<hr/></header>
		<p>漢字組建採用Affero通用公眾特許條款（Affero General Public License, AGPL)開放原始碼。
			<br/></p>
		<p>漢字組建使用java撰寫。如有需要，請參考github專案<a href="https://github.com/sih4sing5hong5/han3_ji7_tsoo1_kian3/blob/master/%E6%BC%A2%E5%AD%97%E7%B5%84%E5%BB%BA%E8%91%97%E4%BD%9C%E6%AC%8A%E8%81%B2%E6%98%8E">內部說明文件</a>。</p>
	</section>
</article>
</div>
{% endblock %}