{% extends "意傳網站/框.html" %}

{% block 標題 %}
	組字說明｜意傳文化科技
{% endblock %}

{% block 網頁描述 %}
	依照每次拆解漢字的偏旁就能完成組字式，拆解方式請看底下。
{% endblock %}

{% block 內容 %}

<div class="huainn5">
<article>
	<section id="使用說明" class="font22px">
		<header>組字說明<hr/></header>
		
		<p>組字式是拆解漢字的偏旁，拆解分為上到下<span class="wordB"></span>、左到右<span class="wordpq"></span>、外到內<span class="wordoo"></span>，三個方向。</p>

		<div style="padding-left:200px;">
			<p>⿱任心＝<span class="wordB">任心</span> （上到下）</p>
			<p>⿰扌帶＝<span class="wordpq">扌帶</span> （左到右）</p>
			<p>因＝<span class="wordoo">囗大</span> （外到內）</p>
			<p>⿰因＝<span class="wordpq">因</span>＝<span class="wordpq"><span class="wordoo">囗大</span></span></p>  
		</div>
		
		<p>若需要標示注音，直接將組字式複製到<a href="{% url '標音方法' %}">標音工具</a>，便能下載到完成標音的句子。</p>
		
		<br/>
		<p>許多的方言漢字以往只能造字，像是閩南語的「⿰因」和客語的「⿰厓」，但是造字之後還得產生這個字的安裝檔才能給別人使用，因此本站提供一個可以輕鬆跨平台的<a href="{% url '線上組字'%}#線上組字">組字工具</a>。
		   只要依序輸入組字式，也就是部首及偏旁的拆解順序，就可以自動生成該文字的組字圖。一來解決目前中文輸入法尚未支援閩客語文字的問題，再加上圖片不會受到平臺的影響，能避免亂碼問題。</p>
		
	</section>
</article>
</div>
{% endblock %}