{% extends "意傳網站/框.html" %}

{% block 標題 %}
	線上組字
{% endblock %}

{% block 網頁描述 %}
	遇到打不出來的閩客語字嗎？只要輸入部首的順序，組字工具讓您輕鬆組合各種文字，並下載完成的組字圖檔。也可以再將組字貼到標音工具，幫你查詢罕見字的閩南語念法或是客語念法。
{% endblock %}

{% block 內容 %}

<div class="huainn5">
<article>
	<section id="線上組字" class="font22px">
		<header>線上組字<hr /></header>
		<p>
		<table>
		<tr>
			<td>
				<div id="too5tsip8">
					<img id="hian2si7too5it4" /> <img id="hian2si7too5ji7" />
				</div>
			</td>
			<td>
				<form onsubmit="javascript:sang3tsut4su1jip8();return false;">
					<input type="text" id="su1jip8" onChange="" onkeyup="kiam2tsa1()"
					onkeydown="kiam2tsa1()" onPaste="kiam2tsa1()" oncut="kiam2tsa1()"
					oninput="kiam2tsa1()"> <input id="sang3tsut4liu2a2"
					type="submit" value="全送出" /> 
			</td>
		</tr>
		</table>
		
		<br />
		<table class="鍵盤">
			<tr><td>
			一般符號：
				{% for 一逝 in 一般符號陣列 %}
				{% for 字 in 一逝  %}
			<input class="tsoo2ji7liu2a2" type="button" value="{{ 字 }}"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
					{% endfor %}
					<br/>
				{% endfor %}
				</td><td>
		注音符號：
			<input class="tsoo2ji7liu2a2" type="button" value="⿳"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" /><br/>
				{% for 一逝 in 注音陣列 %}
				{% for 字 in 一逝 %}
			<input class="tsoo2ji7liu2a2" type="button" value="{{ 字 }}"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
					{% endfor %}
					<br/>
				{% endfor %}
			</td><td>
			 <!-- 異寫字：<input class="tsoo2ji7liu2a2" type="button" value="⿻"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
				<br/>
				<input class="tsoo2ji7liu2a2" type="button" value="⿻真甲"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
				<input class="tsoo2ji7liu2a2" type="button" value="⿻真乙"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" /> -->
		</form>
		</td></tr></table>
		<br />

				
		<div id="ket4ko2" contenteditable="true" onfocus="ki3lok8huan7ui5();"
			onkeyup="ki3lok8huan7ui5();" onmouseout="ki3lok8huan7ui5();"
			onmouseover="ki3lok8huan7ui5();" 
			style="background-color:rgba(255,255,255,0.5);"></div>
		<form>
			<input class="ket4ko2liu2a2" type="button" value="產生組字"
				onclick="javascript:tshue7tsoo2ji7(ket4ko2)" /> <input
				class="ket4ko2liu2a2" type="button" value="變轉組字式"
				onclick="javascript:pian3tng2tsoo2ji7sik4()" />
		</form>
		
		
		</p>
 
			<script type="text/javascript">
			tsit8khai1si2();
			</script>
			<br/>
		</section>
		
	</article>
</div>

{% endblock %}