{% extends "意傳網站/框.html" %}

{% block 標題 %}
	聯絡我們
{% endblock %}

{% block 網頁描述 %}
	意傳文化科技開發免費的閩南語，客語的語言工具，目前主要有標示注音，國語翻譯，發音合成，讓學習母語以及研究母語的人可以事半功倍。若您需要母語教材客製化歡迎聯絡我們。
{% endblock %}

{% block 內容 %}

<div class="tit8">
	<article>
		<section class="font22px">
		<header>聯絡我們<hr /></header>
		
		<p>不論您是需要幫忙編排大量鄉土語言講義，或是對於本站工具有任何想法、疑問，都歡迎您隨時聯絡我們。我們會盡快跟您聯絡！	</p>
		
		<p>
			聯絡人：薛丞宏<br /> 電子信箱：ihcaoe＠gmail.com<br />
			臉書：<span class="nng2tsua1"><a href="https://www.facebook.com/chenghung.hsueh">https://www.facebook.com/chenghung.hsueh</a></span><br />
		</p>
		
		</section>
	</article>
</div>

{% endblock %}