{% extends "意傳網站/框.html" %}

{% block 標題 %}
	閩客語的小知識
{% endblock %}

{% block 網頁描述 %}
	你知道閩客語也是有文字的嗎？雖然少數的字確實是沒有漢字的，例如閩南語對男生稱呼為查甫的「查」起源自壯侗語，...不過，先來念看看這三個字。...
{% endblock %}

{% block 內容 %}

<div class="tit8" >
	<article id="NanHakkaStory">	
		<!--<section>
		 	
閩客語不是沒有字嗎？為何有漢字？
<hr/>
<p>
沒錯，少數的詞彙原來是沒有漢字的。例如閩南語中男生稱為查甫的「查」起源自壯侗語，閩南祖先從中原移居到閩越地區時，和相對多數的壯苗族裔通婚才加上的字<span class="pai5huainn5">[1]</span>。
來看看幾個常見的字
</p>
<table class="gi2im1hak8">
<tr><td>不標聲調</td><td>國語</td><td>閩南語</td><td>客家四縣腔</td></tr>
<tr><td>狗</td><td>ㄍㄡ<br/>ㄍㄛㄨ</td><td>ㄍㄠ<br/>ㄍㄚㄨ</td><td>ㄍㄝㄨ</td></tr>
<tr><td>頭</td><td>ㄊㄡ<br/>ㄊㄛㄨ</td><td>ㄊㄠ<br/>ㄊㄚㄨ</td><td>ㄊㄝㄨ</td></tr>
<tr><td>後</td><td>ㄏㄡ<br/>ㄏㄛㄨ</td><td>ㄠ<br/>ㄚㄨ</td><td>ㄏㄝㄨ</td></tr>
<tr><td>手</td><td>ㄕㄡ</td><td>ㄑㄧㄨ</td><td>ㄙㄨ</td></tr>
<tr><td>周</td><td>ㄓㄡ</td><td>ㄐㄧㄨ</td><td>ㄗㄨ</td></tr>
</table>
<p>
「狗頭後」三字的韻母，在三種語言中呈現「ㄛㄨ　ㄚㄨ　ㄝㄨ」的對比，是什麼原因如此有規律呢？因為「狗頭後」三字原本是押韻的，分化成國閩客三種方言時，三字仍然是彼此押韻的，我們可以從紀錄隋唐音的廣韻來佐證，「狗頭後」皆屬「侯韻」，三字當時是押韻的。
</p>
<p>
那為什麼「手周」沒有跟著押韻呢？因為這兩字在廣韻裡屬「尤韻」，跟當時的「侯韻」三字是不押韻的，由韻書的紀載來看，國語的「侯韻」及「尤韻」在宋朝合流，押韻至今。而閩客兩方言祖先在宋朝前就以分化出去，並沒有受到國語合流的影響，在尤侯韻這點閩客兩方言是保守的。
</p>
<p>
三種方言中，三韻其實彼此有關係，「ㄛㄨ　ㄚㄨ　ㄝㄨ」分別是舌頭在前、舌頭在中、舌頭在後，這其實就是「侯韻」演變的歷史，奈現在的文獻材料不可能以判定「侯韻」其原本實際音值。此外，「手」的聲母「ㄕ ㄑㄧ ㄙ」、「周」的聲母「ㄓ  ㄐㄧ ㄗ」也是有關聯的，分別是舌頭在後、舌頭在中、舌頭在前。
</p>
<p>
此外，「後」的「ㄏ」為獨閩語沒有。查考其他方言，大多數方言的「後」是有「ㄏ」的，以語音學的角度，「ㄏ」不太可能無中生有。因此我們推測，閩語「後」的「ㄏ」是因為在講不清楚或聽不清楚的口耳相傳中漸漸遺落的，這反而是閩語一個創新的特徵。而閩籍祖先是由不同時期不同地點而來，又受到唐宋科舉讀書音的影響，造就了四個漢語語言層次，及文白兩異讀。閩南語保留了不同時期的特徵，又有許多創新特徵，由此可說是一座「漢語史博物館」<span class="pai5huainn5">[2]</span>。
</p>
<p>
由以上材料及文獻推論，閩南語及客家話皆是有漢字的。
</p>
<p>
<span class="pai5huainn5">[1]</span>董忠司。臺灣閩南語概論講授資料彙編，頁3-4。民國八十五年，董忠司　主編。<br/>
<span class="pai5huainn5">[2]</span>張光宇。臺灣閩南語辭典－序。民國八十九年，董忠司　總編纂，國立編譯館　主編，五南圖書出版公司　印行。
</p>
			
			</section>
		
		<section>
			<header>閩客聲韻學
			<hr />
			<p>將介紹一般人較難接觸的閩南語、客語音系學，並以此推敲兩者歷史，將陸續補齊</p>

		</section> -->
		
		
		
	<section id="閩客語有文字" class="font22px">
		<header>閩客語有文字？</header>
		<div>
			<p>沒錯，少數的詞彙原來是沒有漢字的。例如閩南語當中對男生女生稱呼為查甫和查某的「查」起源自壯侗語，閩南祖先從中原移居到閩越地區時，和相對多數的壯苗族裔通婚才加上的字<span class="pai5huainn5">[1]</span>。不過，先來念看看這三個字。</p>
			<table>
				<tr><th></th> <th>國語</th> <th>閩南語</th> <th>客家四縣腔&nbsp;（沒有標聲調）</th></tr>
				<tr><td>狗</td> 	<td>ㄍ<span style="color:blue">ㄡ</span></span></td> <td>ㄍ<span style="color:green">ㄠ</span></td> <td>ㄍ<span style="color:red">ㄝㄨ</span></td></tr>
				<tr><td>頭</td>	<td>ㄊ<span style="color:blue">ㄡ</span></td> <td>ㄍ<span style="color:green">ㄠ</span></td> <td>ㄊ<span style="color:red">ㄝㄨ</span></td></tr>
				<tr><td>後</td> 	<td>ㄏ<span style="color:blue">ㄡ</span></td> <td style="color:green">ㄠ</td>   <td>ㄏ<span style="color:red">ㄝㄨ</span></td></tr>
			</table>
			<p>為什麼狗、頭、後在各個語言都有押韻呢？因為狗、頭、後在古代漢語是押韻的，可以推測從古代漢語分化成國閩客三種方言後，狗、頭、後仍然互相押韻。換句話說，國閩客語繼承了古代漢語的押韻規律，所以推論：閩南語及客家話和國語一樣也繼承了漢字。</p>			
		</div>
	</section>	
	
	<p style="text-align:center;margin:1em 0;">○●○●</p>
	
	<section id="廣韻" class="font22px">
		<header>廣韻：揭開漢語方言的演化史</header>
		<div>
			<p>《廣韻》是現今保存最完整的、最古老的、也是最重要的一部韻書。韻書是一種按韻編排的字典，用來查哪些字押韻。現代的學者可以依據《廣韻》確知隋唐時期中古語音的聲母、韻母及聲調情況，進而上推古音（秦漢前）、下證今音（清末後）<span class="pai5huainn5">[3]</span>。</p>
			<p>當時為什麼要寫這本書呢？《廣韻》前序有寫，當年考詩詞遇到一個問題，就是考生說各自家鄉的方言，寫的是家鄉方言的韻字。例如：</p>
			<table>
				<tr><th></th><th>國語</th><th>閩南語</th></tr>
				<tr><td>師</td><td>ㄕ</td><td>ㄙㄨ</td></tr>
				<tr><td>詩</td><td>ㄕ</td><td>ㄒㄧ</td></tr>
				<tr><td>斯</td><td>ㄙ</td><td>ㄒㄧ</td></tr>
			</table>
			<p>一位考生用國語寫詩，會認為師跟詩有押韻，但是另外一位考生寫閩南語的詩，則會認為詩跟師不押韻，於是用詩跟斯押韻。這怎麼辦呢？這兩位考生算不算押對韻？為避免爭執考試結果，也讓大家更方便查找韻字，所以朝廷下令撰寫《廣韻》做為科舉考試的標準。</p>
			<p>當時因為師、詩、斯不是在每個方言都有押韻，所以《廣韻》將這三個字分別分成三個韻「脂、之、支」。所以《廣韻》有三個韻，並不代表某個方言同時有這三個韻，它只代表在眾多方言中有三種狀況，換句話說《廣韻》是方言的總和而非一個語言。《廣韻》有兩百多個韻，三四十個聲母，一般方言聲韻不可能如此複雜，這也驗證《廣韻》並不是一個真實的語言。</p>
			<p>從《廣韻》來佐證前一節「閩客語有文字？」的例子，狗、頭、後同屬「侯韻」，才會遵循侯韻從中古音分化成國閩客的韻母，所以這三個字在國閩客語都會押韻。再舉個有趣的例子：</p>
			<table>
				<tr><th></th><th style="color:blue">國語</th><th>閩南語</th><th>客家四縣腔&nbsp;（沒有標聲調）</th></tr>
				<tr><td>狗</td>	<td>ㄍ<span style="color:blue">ㄡ</span></td> <td>ㄍㄠ</td>   <td>ㄍㄝㄨ</td></tr>
				<tr><td>手</td>	<td>ㄕ<span style="color:blue">ㄡ</span></td> <td>ㄑㄧㄨ</td> <td>ㄙㄨ</td></tr>
				<tr><td>周</td> 	<td>ㄓ<span style="color:blue">ㄡ</span></td> <td>ㄐㄧㄨ</td> <td>ㄗㄨ</td></tr>
			</table>
			<p>為什麼狗、手、周在國語押韻，閩客語卻沒有押韻呢？原來手和周在《廣韻》屬於「尤韻」，閩客語保留了手周的尤韻，所以手周在閩客語當然不會按照侯韻的演變方式！不過宋朝以後國語的尤韻和侯韻合流了，所以才會造成這三個字在國語押韻，但不在閩客語押韻的有趣現象。</p>
			<p>其它還有很多很多有趣的推論，都是由《廣韻》提供學者們重要佐證，所以說《廣韻》不只是當年讓文人作詩的工具書，更是現今學者研究漢語音韻史、研究當代漢語方言不可缺少的典籍。</p>
			<div style="font-size:18px;">參考自：
				<p><span class="pai5huainn5">[1]</span>&nbsp;董忠司。<cite>臺灣閩南語概論講授資料彙編，頁3-4。</cite>民國八十五年，董忠司主編。</p>
				<p><span class="pai5huainn5">[2]</span>&nbsp;張秀平和王曉明，<cite>「影響中國的一百本書」，第九十八項。</cite></p>
				<p><span class="pai5huainn5">[3]</span>&nbsp;<a href=”http://xiaoxue.iis.sinica.edu.tw/ccr”>古今音資料庫的簡介</a></p>
			</div>		
		</div>
	</section>
	
	<p style="text-align:center;margin:1em 0;">○●○●</p>
	
	<section id="閩南語的後" class="font22px">
		<header>閩南語「後」沒有ㄏ</header>
		<div>
			<p>查考其他方言，只有閩南語的「後」沒有ㄏ音。大多數方言的「後」是有ㄏ的，以語音學的角度，ㄏ音不太可能無中生有。因此我們推測，閩語「後」的ㄏ是因為在講不清楚或聽不清楚的口耳相傳中漸漸遺落的，這成為閩語一個創新的特徵。</p>
			<p>閩籍祖先是由不同時期不同地點而來，又受到唐宋科舉讀書音的影響，造就了四個漢語語言層次，及文白兩異讀。閩南語保留了不同時期的特徵，又有許多創新特徵，由此可說是一座「漢語史博物館」<span class="pai5huainn5">[4]</span>。</p>
		</div>
	</section>
	
	<p style="text-align:center;margin:1em 0;">○●○●</p>
	
	<section id="拼音方案" class="font22px">
		<header>拼音方案是什麼？</header>
		<div>
			<p>「拼音」是用拼音直接表示文字，也可以當作白話字的增補。所謂的拼音方案就是訂定如何羅馬拼音的聲母，韻母以及聲調，如何使用拼音表的規範。一句有名的古詞為例：</p>
			<table>
				<tr><th>我</th><th>身</th><th>騎</th><th>白</th><th>馬</th></td></tr>
				<tr><td>gua2</td><td>sin1</td><td>khia5</td><td>pek8</td><td>be2</td></tr>
			</table>
			<p>本站採用教育部的臺灣客語拼音方案，以及九十七年的臺灣閩南拼音方案。吳守禮教授撰寫的大型閩南語辭典也用此符號<span class="pai5huainn5">[5]</span>，可參考吳守禮教授的<a href="http://www.google.com/url?q=http%3A%2F%2Folddoc.tmu.edu.tw%2Fchiaushin%2F&sa=D&sntz=1&usg=AFQjCNEKiRsl3zGBAGrlTPxzWBmR2UDxYA">台語天地</a>。</p>
		</div>
	</section>
	
	<p style="text-align:center;margin:1em 0;">○●○●</p>
	
	<section id="方音符號" class="font22px">
		<header>淺談方音符號</header>
		<div>
			<p>方音符號，又稱方言音符號，將國語注音增添一些符號來標注閩南話和客家話。大部分和國語注音一樣念法，因此在此僅列出特別的聲韻母。其中閩南語的「⿱ㄜ&nbsp;」及「⿱ㄏ&nbsp;」和國語的唸法有些微差異，不在此敘述。</p>
			<table class="ji7im1pio2">
				<tr><th colspan="3">特別的<span style="color:red">聲母</span></th><th>拼音</th></tr>
				<tr><td>⿱ㆠ </td>	
					<td><span class="ji7im1">豬⿳ㄉㄧ</span><span class="ji7im1">肉⿳⿳ㆠㄚㆷ</span></td>
					<td>⿱ㄅ 的濁音*</td>
					<td>b</td></tr>
				<tr><td>⿱ㆣ </td>
					<td><span class="ji7im1">牛⿳⿳ㆣㄨˊ</span></td>
					<td>⿱ㄍ 的濁音</td>
					<td>g</td></tr>
				<tr><td>⿱ㆢ </td>
					<td><span class="ji7im1">寫⿳⿳⿳ㄒㄧㄚˋ</span><span class="ji7im1">字⿳⿳ㆢㄧ˫</span></td>
					<td>⿱ㄐ 的濁音</td>
					<td>j</td></tr>
				<tr><td>⿱ㆡ </td>
					<td><span class="ji7im1">熱⿳⿳⿳⿳ㆡㄨㄚ㆐ㆵ</span></td>
					<td>⿱ㄗ 的濁音</td>
					<td>j</td></tr>
				<tr><td>⿱ㄫ </td>
					<td><span class="ji7im1">硬⿳⿳ㄫㆤ˫</span></td>
					<td>似⿱ㄥ </td>
					<td>ng</td></tr>
			</table>
			<p style="font-size:18px;">*濁音：以英文為例，「s」跟「z」的差別就是「z」是濁音，喉嚨有振動，「s」是清音，喉嚨沒振動。</p>
			<table class="ji7im1pio2">
				<tr><th colspan="3">特別的<span style="color:green">韻母</span></th><th>拼音</th></tr>
				<tr><td>⿱ㆩ </td>
					<td><span class="ji7im1">衫⿳ㄙㆩ</span></td>
					<td>⿱ㄚ 鼻化*</td>
					<td><span class="pai5huainn5">ann</span></td></tr>
				<tr><td>⿱ㆪ </td>
					<td><span class="ji7im1">甜⿳ㄉㆪ</span></td>
					<td>ㄧ鼻化</td>
					<td><span class="pai5huainn5">inn</span></td></tr>
				<tr><td>⿱ㆫ </td>
					<td><span class="ji7im1">張⿳⿳ㄉㄧㆫ</span></td>
					<td>⿱ㄨ 鼻化</td>
					<td><span class="pai5huainn5">unn</span></td></tr>
				<tr><td>⿱ㆥ </td>
					<td><span class="ji7im1">生⿳ㄙㆥ</span><span class="ji7im1">日⿳⿳⿳ㆢㄧ㆐ㆵ</span></td>
					<td>⿱ㆤ 鼻化</td>
					<td><span class="pai5huainn5">enn</span></td></tr>
				<tr><td>⿱ㆤ </td>
					<td><span class="ji7im1">蝦⿳⿳ㄏㆤˊ</span><span class="ji7im1">仔⿳ㄚˋ</span></td>
					<td>似⿱ㄝ </td>
					<td>e</td></tr>
				<tr><td>⿱ㆧ </td>
					<td><span class="ji7im1">是⿳⿳ㄒㄧ˫</span><span class="ji7im1">你⿳⿳ㄌㄧˋ</span><span class="ji7im1">乎⿳⿳ㄏㆧㆷ</span></td>
					<td>⿱ㆦ 鼻化</td>
					<td><span class="pai5huainn5">enn</span></td></tr>
				<tr><td>⿱ㆮ </td>
					<td><p><span class="ji7im1">幌⿳⿳ㄏㆮˋ</span><span class="ji7im1">頭⿳⿳ㄊㄠˊ</span></p><p>（搖頭）</p></td>
					<td>⿱ㄞ 鼻化</td>
					<td><span class="pai5huainn5">ainn</span></td></tr>
				<tr><td>⿱ㆬ </td>
					<td><span class="ji7im1">毋⿳ㆬ˫</span><span class="ji7im1">是⿳⿳ㄒㄧ˫</span></td>
					<td>⿱ㄇ 的濁音</td>
					<td><span class="pai5huainn5">m</span></td></tr>
				<tr><td>⿱ㆰ </td>
					<td><span class="ji7im1">貪⿳ㄊㆰ</span><span class="ji7im1">心⿳⿳ㄒㄧㆬ</span></td>
					<td>即⿱ㄚ + ⿱ㆬ </td>
					<td><span class="pai5huainn5">am&nbsp;</span></td></tr>
				<tr><td>⿱ㆱ </td>
					<td><p><span class="ji7im1">貴⿳⿳⿳ㄍㄨㄧ˪</span><span class="ji7im1">蔘⿳ㄙㆱ</span><span class="ji7im1">蔘⿳ㄙㆱ</span></p><p>（很貴）</p></td>
					<td>即⿱ㆦ + ⿱ㆬ </td>
					<td><span class="pai5huainn5">om</span></td></tr>
				<tr><td>⿱ㆭ </td>
					<td><span class="ji7im1">門⿳⿳ㄇㆭˊ</span></td>
					<td>似⿱ㄥ </td>
					<td>ng</td></tr>
				<tr><td>⿱ㆲ </td>
					<td><span class="ji7im1">王⿳ㆲˊ </span></td>
					<td>（沒有相似注音）</td>
					<td><span class="pai5huainn5">ong</span></td></tr>
				<tr><td>⿱ㆦ </td>
					<td><span class="ji7im1">烏⿳ㆦ </span><span class="ji7im1">色⿳⿳⿳ㄒㄧ㆐ㆶ</span></td>
					<td>似⿱ㄛ </td>
					<td>oo</td></tr>
			</table>
			<p style="font-size:18px;">*鼻化韻：鼻腔振動</p>
			<!-- <div style="font-size:18px;">參考自：
					<p>[?]吳守禮，華、台語注音符號溯源。http://olddoc.tmu.edu.tw/chiaushin/marker-0.htm。</p>
					<p>[?]教育部，方音符號系統。中華民國八十七年一月十二日 台(87)語字第八七ＯＯＯ五七七號。http://www.edu.tw/pages/detail.aspx?Node=1075&Page=9643&wid=c5ad5187-55ef-4811-8219-e946fe04f725&Index=1。</p>
					<p>[?]吳昭新，華、台語注音符號溯源。http://olddoc.tmu.edu.tw/chiaushin/。</p>
				</div> -->
		</div>
	</section>
	
	</article>
</div>

{% endblock %}