/*---關於意傳---*/
ul#意傳工具小簡歷{
    list-style-type:none;
    text-align:center;
    margin:5em auto;
  }
ul#意傳工具小簡歷 li{
  display:inline-block;
  vertical-align:top;
  margin:0 25px auto;
}
ul#意傳工具小簡歷 li img{
  width:4em;
  height:4em;
  margin:0 13px auto;
}
ul#意傳工具小簡歷 li h2 {
  color:#FF0D00;/*#00BFFF;*/
  font-weight:bold;
  font-size:2em;/*30px*/
}
ul#意傳工具小簡歷 li p{
  text-align:center;
  font-size:1em;
  display:block;    
  margin:0 auto;
  width:250px;
}