.masthead.segment {
    padding: 1em 0em;
}

.stripe.segment {
  padding: 4em 0em;
}

.stripe.slogan.segment {
  background: rgba(0, 0, 0, 0.03);
}

h2.ui.header {
    margin-bottom: 0.8em;
}

/* PC */
@media only screen and (min-width: 768px)
{
  .masthead.segment {
    min-height: 300px;
  }
  
  .masthead h1.ui.header {
    margin-top: 2.2em;
  }
}


/* Mobile */
@media only screen and (max-width: 767px) {
  .masthead.segment {
    min-height: 250px;
  }
  
  .masthead h1.ui.header {
    margin-top: 1.7em;
  }
  
  .ui.centered.card:first-child {
    margin-bottom: 1em;
  }
}