
/*---閩客故事---*/

/*---閩客語的演變---*/
/*article#NanHakkaStory p {display:block;width:500px;margin-right:10px;}*/
/*article#NanHakkaStory {width:500px;word-wrap:break-word;word-break:break-all; }*/ 
article#NanHakkaStory table{text-align:left;margin-left:20px;border-collapse:seperate; border-spacing:15px 0px;}
article#NanHakkaStory table.ji7im1pio2 td{border-top:1px dotted #444;}
article#NanHakkaStory table.ji7im1pio2 td:nth-child(2){font-size:28px;}
