#rightWrapper {
	float:right;
	position:relative;
	width:15%;
	height:100%;
}


div#logobox {
	width:50%;
	margin:10px auto 0px auto;
}
a#logo {
	margin:0 auto;
	outline:none;/*清除超連結圖片的虛線外框*/	
}
div#副標題{
	font-size:18px; 
	width:100%; 
	margin:5px 0;
	text-align:center;
	color:#A60000;
	text-shadow:0px 1px 5px white;
}

#topNav {
	width:70%;
	height:250px;
	margin:0 auto;
	background-color:white;
	background-color:rgba(249,249,249,0.92);
	box-shadow: 5px 5px 10px black;
	border-bottom-left-radius:20px;	
}
#topNav ul {
	width:100%; 	
	margin:0;/*將清單內定的內距清除(無清除，則左側會多出約40px，範例二可不用加這一項*/
	padding:0;
	list-style-type:none;
} 
#topNav ul li.last {border-bottom-left-radius:20px;}

#topNav ul li {  
	text-align:center; 
    line-height:2.2em;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

#topNav ul li,#topNav a{ 
	position:relative;
	height:50px;
}

#topNav ul li table {
	position:absolute;
	display:none;
	margin:0;
	padding:0;
	top:0;
	right:100%; /*貼著爸爸的左側＝遠離爸爸右側*/ 
	border-collapse:collapse;
}
#topNav ul li td a {
	width:140px; 
	height:40px;
	padding:3px; 
	line-height:2em; 
	white-space:nowrap;/*保證子標題不換行*/
}

#topNav ul li tr:nth-child(odd) {background-color:#555;}
#topNav ul li tr:nth-child(even) {background-color:#777;}

#topNav ul li, #topNav ul li>table {font-size:20px;}
#topNav ul li:hover {
	background-color: #4ab0f8; /*fallback*/
}
#topNav ul li td:hover{
	background-color: rgba(0,0,0,1); /*fallback*/
}

#topNav a {display: inline-block; width:100%; text-decoration:none; }

#topNav ul li>a:link {color:black; }
#topNav ul li>a:visited {color:black; }
#topNav ul li:hover, #topNav ul li>a:hover {color:yellow;} 
#topNav ul li>a:active {color:black; }

#topNav ul li td>a:link {color:white;}
#topNav ul li td>a:visited {color:white;}
#topNav ul li td>a:hover {color:yellow;}
#topNav ul li td>a:active{color:white;}

.FBbox {margin:10px auto 0;}
.FBbox > tr {vertical-align: top;}
