/*global*/
html {
  font-size: 20px;
}
.favicon {
  padding-top: 0.7rem;
  padding-right: 2rem;
}
/*two column*/
.pushable>.pusher {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dimmable>.text.container {
    padding-top: 1em;
    padding-bottom: 3em;
    min-height: 100vh;
}

/* PC */
@media only screen and (min-width: 768px)
{
	#KuahPau {
		display: none;
	}
}


/* Mobile */
@media only screen and (max-width: 767px) {
	#appNav {
		display: none;
	}

  .dimmable>.text.container {
    padding-top: 5em;
  }
}
