@font-face {
  font-family: MyCustomFont;
  src:local("AR PL UKai TW"), /*Linux*/ 
  local(DFKai-SB), /*Windows,Linux*/
       local(BiauKai); /*MAC OS的標楷體*/
}

/* Latin characters 專用 */
@font-face {
  font-family: MyCustomFont; /* 同樣的 font-family */
  unicode-range: U+00-024F;  /* Latin, Latin1 Sup., Ext-A, Ext-B */
  src: local("Comic Sans MS"), /* Other OS */
       local(Helvetica);     /* OS X preferred */
}

/* 注音符號專用 */
@font-face {
  font-family: MyCustomFont;      /* 同樣的 font-family */
  unicode-range: U+3100-312F;     /* Bopomofo */
  src: local(FangSong),             /* Windows Vista+ */
       local("LiHei Pro");          /* OS X */
}

.unicodeRange{
    font-family:MyCustomFont, sans-serif, serif;
    color:blue;
}


.fontKai{
	font-family:"BiauKai"/*os x*/
				"KaiTi"	,	
				"DFKai-sb",/*windows*/
				"DFKai-SB",/*windows, linux*/
				"AR PL UKai TW";/*linux*/
}
.fontHei{
	font-family:"LiHei Pro",
				"Heiti TC"/*os x*/,
				"Microsoft JhengHei"/*windows*/,
				"WenQuanYi Micro Hei Mono",
				"WenQuanYi Zen Hei Sharp"/*linux*/;
}
.fontMing {
	font-family:"PMingLiu","NSimSun", FangSong,/*windows*/
				"AR PL UMing TW",
				"AR PL UMing TW MBE"/*linux*/;
}
.fontEng {  
	font-family: Helvetica, Arial, 'LiHei Pro', 'PMingLiu', sans-serif;
}
.fontDigit{font-family:Helvetica,Arial/*windows, os x preferred*/;}