/*encoding: utf-8*/
* {
	margin:0;
	padding:0;
	font-size: 100%;
    font: inherit;
    font-family:"LiHei Pro",
				"Heiti TC"/*os x*/,
				"Microsoft JhengHei"/*windows*/,
				"WenQuanYi Micro Hei Mono",
				"WenQuanYi Zen Hei Sharp"/*linux*/;
}
p {margin:10px 0;}
ul {padding-left:40px; list-style-type:none;}
body {
	/*設定body：使網頁有視窗的寬高*/
	position: absolute; 
	top: 0;
	left: 0;
	bottom:0;
	right:0;
}

#網頁最外圍 {
	width: 100%;
	height: 100%;
	min-width:800px;
	min-height:28em;
	background-image:url(/assets/pan2_hing5/hakka3003.png),
					-moz-radial-gradient(top,#FFE6D5,#FFCCAA);
	background-image:url(/assets/pan2_hing5/hakka3003.png),
					-webkit-radial-gradient(top,#FFE6D5,#FFCCAA);
	background-image:url(/assets/pan2_hing5/hakka3003.png),
					-o-radial-gradient(top,#FFE6D5,#FFCCAA);
	background-repeat:no-repeat;
	background-size:100% 30%, cover;
	background-position:center bottom,center;
	font-size: 100%;
	/*font-family:Comic Sans MS,arial,helvetica,sans-serif;*/
	overflow:hidden;
}
/*-----------------------------*/	
	#leftWrapper {
		float:left;
		position:relative;
		top:0px;
		left:35px; /*distance from webpage left side*/
		width:83%;
		height:100%;
	}
	#mainContainer {
		position:relative;
		width:100%;
		height:100%;
		overflow-y:auto;
		font-size:150%;
		background-color:rgba(255,255,255,0.5);
	}
		
	/*-----------------------------*/	
	#rightWrapper {
		float:right;
		position:relative;
		width:15%;
		height:100%;
	}
	div#logobox {
		width:50%;
		margin:10px auto 0px auto;
	}
	a#logo {
		margin:0 auto;
		outline:none;/*清除超連結圖片的虛線外框*/	
	}
	div#副標題{
		font-size:18px; 
		width:100%; 
		margin:5px 0;
		text-align:center;
		color:#A60000;
		text-shadow:0px 1px 5px white;
	}
	
	#topNav {
		width:70%;
		height:300px;
		margin:0 auto;
		background-color:white;
		background-color:rgba(249,249,249,0.92);
		box-shadow: 5px 5px 10px black;
		border-bottom-left-radius:20px;	
	}
	#topNav ul {
		width:100%; 	
		margin:0;/*將清單內定的內距清除(無清除，則左側會多出約40px，範例二可不用加這一項*/
		padding:0;
		list-style-type:none;
	} 
	#topNav ul li>a {  
		text-align:center; 
	    line-height:2.2em;
	}
	
	#topNav ul li,#topNav a{ 
		height:50px;
		position:relative; 
	}
	#topNav ul li.last {border-bottom-left-radius:20px;}
	
	#topNav ul li table {
		display:none;
		margin:0;
		padding:0;
		position:absolute;
		top:0;
		right:100%; /*貼著爸爸的左側＝遠離爸爸右側*/ 
		border-collapse:collapse;
	}
	#topNav ul li td a {
		width:140px; 
		height:40px;
		padding:3px; 
		line-height:2em; 
		white-space:nowrap;/*保證子標題不換行*/
	}
	
	#topNav ul li td.subcolor1 {background-color:#333;}
	#topNav ul li td.subcolor2 {background-color:#555;}
	#topNav ul li td.subcolor3 {background-color:#777;}
	#topNav ul li td.subcolor4 {background-color:#999;}
	
	#topNav ul li, #topNav ul li>table {font-size:20px;}
	#topNav ul li:hover {
		background-color: #999; /*fallback*/
	}
	#topNav ul li td:hover{
		background-color: rgba(0,0,0,1); /*fallback*/
	}
	
	#topNav a {display: inline-block; width:100%; text-decoration:none; }
	
	#topNav ul li>a:link {color:black; }
	#topNav ul li>a:visited {color:black; }
	#topNav ul li>a:hover {color:yellow;} 
	#topNav ul li>a:active {color:black; }
	
	#topNav ul li td>a:link {color:white;}
	#topNav ul li td>a:visited {color:white;}
	#topNav ul li td>a:hover {color:yellow;}
	#topNav ul li td>a:active{color:white;}
	
	
	
/******************舊版型開始*****************/
#目錄 {
	width: 200px; /*em?*/
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	/*float: right;*/
	z-index: 0;
	text-align: center;
}

#內容 {
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 200px;
	/*display: table;*/
}

#頁首 {
	/*vertical-align: center;*/
	/*display: table-row;*/
	height : 2em;
	padding: 0.5em;
	top:0;
	left:0;
	right: 0;
	overflow: auto;
	position: absolute;
}

#myfooter {
	text-align: left;
	padding: 0.5em;
	height: 1.5em;
	overflow: auto;
	position: absolute;
	left:0;
	right: 0px;
	bottom: 0px;
}

#文章 {
	position: absolute;
	/*height:inherit;*/
	top: 2em;
	left: 0px;
	bottom: 1.5em;
	right: 0px;
	overflow: auto;
	font-size: 180%;
	/*display: table-row;*/
}

div#標題 {
	float: left;
	margin:20px 0px 0px 20px;
}

#公告 {
	float: right;
	font-size: 0.8em;
	/*
	vertical-align: bottom;
	position: absolute;
	right:0px;
	bottom: 0px;*/line-height: 2.5em;
}

#公告,#公告 a:link,#公告 a:visited,#公告 a:active,#公告 a:hover {
	color: red;
	font-weight: bold;
}

.上 {
	position: relative;
	top: -0.3em;
}

.下 {
	position: relative;
	top: +0.3em;
}

#頁首,#目錄,#myfooter {
	background-color: rgb(40, 40, 40);
	color: white;
}

#目錄 a:link,#目錄 a:visited,#目錄 a:active,#目錄 a:hover {
	color: white;
	text-decoration: none;
}

#目錄 ul li {
	list-style: cjk-ideographic;
	/*list-style: none;*/
}

.正寫,#目錄 h2,#目錄 ul,#目錄 ul li {
	margin-top: 1em;
	margin-bottom: 1em;
	direction: rtl;
	unicode-bidi: bidi-override;
}

/******************舊版型結束*****************/
ol {margin:0 0 0 40px;}

.tit8 {
	margin: 0.5em;
	padding-bottom: 20em;
}

.huainn5 {
	margin: 0.5em;
}
.huainn5 article section{
	width:80%;
	margin:0.5em auto;	
}

section + section {margin-top:1.5em;}
div.tit8 section + section {margin-top:1em;}
div.huainn5 section + section {margin:2em auto 0;}

/*---標音說明---*/
nav span a {text-decoration:none;}
nav span a:active,nav span a:hover {text-decoration:underline;}
/*---組字說明---*/
span.wordoo:before {content:'⿴';}
span.wordpq:before {content:'⿰';}
span.wordB:before {content:'⿱';}
/*---閩客故事---*/
section table ul {margin-left:-2px;}
section table ul li + li{margin:2em 0;}
section table ul li p {color:blue;}
blockqoute {width:50px;}

/*---閩客語的演變---*/
/*article#NanHakkaStory p {display:block;width:500px;margin-right:10px;}*/
/*article#NanHakkaStory {width:500px;word-wrap:break-word;word-break:break-all; }*/ 
article#NanHakkaStory table{text-align:left;margin-left:20px;border-collapse:seperate; border-spacing:15px 0px;}
article#NanHakkaStory table.ji7im1pio2 td{
	border-top:1px dotted #444;
} 
article#NanHakkaStory table.ji7im1pio2 td{font-size:28px;}

.大字 {
	font-size: 160%;
}

.taketori-ttb article {
	line-height: 150%;
}

.taketori-ttb .su5 {
	line-height: 220%;
	width: inherit;
}

.taketori-ttb .nng2tsua1 .nocjk {
	display: -moz-inline-block;
	display: inline-block;
}

.taketori-ttb .pai5huainn5 .nocjk {
	display: -moz-inline-block;
	display: inline-block;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.taketori-ttb .nocjk {
	font-size: 0.8em;
	width: 1em;
	text-align: center;
}

.taketori-ttb .ji7im1 {
	display: -moz-inline-block;
	display: inline-block;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	text-align: center;
	vertical-align: middle !important;
	/*height: 5em;
	width: 3em;*/
	/*margin-left: -1em;
	margin-right: -1em;
	margin-bottom: 2em;
	margin-left: 2em;
	padding-bottom: 2em;
	padding-left: 2em;*/
	min-height: 2em;
	min-width: 2em;
}

.taketori-ttb .ji7im1 img.tsoo2ji3 {
	height: 1em;
	margin: 0em; /*
	margin-left: 0em;
	margin-bottom: 0em;
	margin-right: 2em;*/
	padding: 0;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	/*vertical-align: -6%;*/
}

.ji7im1 .tsu2ji7 {
	display: inline-block;
	height: 1em;
	/*
	margin: 0em;*
	margin-left: 0em;
	margin-bottom: 0em;
	margin-right: 2em;*/
	padding: 0;
	margin: 0;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
/*
table.gi2im1hak8,table.gi2im1hak8 tr,table.gi2im1hak8 tr td {
	border: 1px solid black;
	vertical-align: middle;
	text-align: center;
}*/

ruby {
	margin: 0 0.1em;
	min-width: 1.5em;
}

ruby>rt {
	display: table-row;
}

ruby>rb {
	display: table-header-group;
}

ruby>rp {
	display: none;
}

ruby>rt,td.表的音 {
	font-size: 0.5em;
	min-width: 1.5em;
}

ruby>rb,td.表的字 {
	font-family: '教育部標準楷書', '全字庫正楷體', '標楷體', 'BiauKai', 'STKaiti', Kai,
		serif !important;
	text-align: center;
	font-size: 1em;
	min-width: 1.5em;
}

#ai3tsha5 {
	min-width: 60%;
}

textarea,select,button,submit,input{
	font-family: inherit;
	font-size: inherit;
}

.suet4bing5too5 {
	border: 1px solid black;
	max-width:60%;
}

#聲音區{
	/*visibility: hidden;-*/
	display: none;
}

.鍵盤 , .鍵盤 td
{
	vertical-align: top;
}