<%# encoding: utf-8 %>
<div class="huainn5">
	<article>
		<section>
			標音方法
			<hr />
			<script src="http://code.jquery.com/jquery-1.10.2.min.js"
				type="text/javascript"></script>
			<p>
				目前先以閩南語漳州腔來測試，泉州腔及客家話待功能完整即會放上。<br />
			</p>
			<form onSubmit="javascript:return tsha5('./自動標音/'+$('#ai3tsha5').val())">
				<p>
				<input type="radio" name="言語種類" value="閩南語混合腔" onClick="javascript:重設文白()" disabled="disabled">閩南語混合腔
				<input type="radio" name="言語種類" value="閩南語偏漳腔" onClick="javascript:重設文白()" checked>閩南語偏漳腔
				<input type="radio" name="言語種類" value="閩南語偏泉腔" onClick="javascript:重設文白()" disabled="disabled">閩南語偏泉腔<br/>
				<input type="radio" name="言語種類" value="客家話四縣腔" onClick="javascript:重設文白()" disabled="disabled">客家話四縣腔
				<input type="radio" name="言語種類" value="客家話海陸腔" onClick="javascript:重設文白()" disabled="disabled">客家話海陸腔
				<input type="radio" name="言語種類" value="客家話大埔腔" onClick="javascript:重設文白()" disabled="disabled">客家話大埔腔<br/>
				<input type="radio" name="言語種類" value="客家話饒平腔" onClick="javascript:重設文白()" disabled="disabled">客家話饒平腔
				<input type="radio" name="言語種類" value="客家話詔安腔" onClick="javascript:重設文白()" disabled="disabled">客家話詔安腔
				<input type="radio" name="言語種類" value="國語" onClick="javascript:重設文白()" disabled="disabled">國語<br/>
				</p>
				<p>
					標音選項：<select name="標音選項" disabled="disabled">
						<option value="臺羅數字加注音">臺羅數字加注音</option>
						<option value="臺羅閏號加注音">臺羅閏號加注音</option>
						<option value="通用加注音">通用加注音</option>
						<option value="注音符號">注音符號</option>
						<option value="臺羅數字調">臺羅數字調</option>
						<option value="臺羅閏號調">臺羅閏號調</option>
						<option value="通用拼音">通用拼音</option>
					</select>
				</p>
				<p>
				<input type="radio" name="言語層" value="白話音" onClick="javascript:重設文白()" checked>白話音
				<input type="radio" name="言語層" value="文讀音" onClick="javascript:重設文白()">文讀音<br>
				<input type="text" size="20" id="ai3tsha5" value="我有一張椅仔！！"><input
					type="submit" value="標音">
				</p>
			</form>
			<p>
			<span id="tsha5e5kiat4ko2"></span>
			</p>
			<p>
			<hr/>
			註：若有字音不符期待，可在點選該字，就會變換標音！！
			</p>
			<script type="text/javascript">
				var tsha5tioh4=new Array();
				var suan2=new Array();
				tsha5 = function(bang2tsi2) {
					$('#tsha5e5kiat4ko2').html('處理中……');
					/*alert(bang2tsi2);//*/
					$
							.ajax({
								url : bang2tsi2,
								type : 'GET',
								data : {},
								error : function(xhr) {
									$('#tsha5e5kiat4ko2').html('發生錯誤！！');
									$('#tsha5e5kiat4ko2').fadeIn();
								},
								success : function(response) {
									//$('#tsha5e5kiat4ko2').html(response);
									//alert(response);
									tsha5tioh4 = eval('(' + response + ')');
									suan2 = new Array(tsha5tioh4.length);
									var str = '';
									for ( var i = 0; i < tsha5tioh4.length; ++i)
									{
										str += '<span class="suan2" id="tsha5e5kiat4ko2_'+i
												+'" onclick="javascript:au7tsit8e5kiat4ko2(this)">';
										str += '</span>';
									}
									$('#tsha5e5kiat4ko2').html(str);
									重設文白();
									$('#tsha5e5kiat4ko2').fadeIn();
								}
							});
					return false;
				};
				function san2sing1ji7kiat4ko2(ji7kiat4ko2){
					var i=+ji7kiat4ko2.id.split('_',2)[1];
					var str='';
					for ( var k = 0; k < tsha5tioh4[i][suan2[i]].綜合標音.length; ++k) {
						str += '<ruby><rb>';
						str += tsha5tioh4[i][suan2[i]].綜合標音[k].型體;
						str += tsha5tioh4[i][suan2[i]].綜合標音[k].吳守禮方音;
						str += '</rb><rt>';
						str += tsha5tioh4[i][suan2[i]].綜合標音[k].臺羅數字調;
						str += '</rt></ruby>';
					}
					ji7kiat4ko2.innerHTML=str;
					tshue7tsoo2ji7(ji7kiat4ko2);
				}
				function au7tsit8e5kiat4ko2(ji7kiat4ko2)
				{
					var i=+ji7kiat4ko2.id.split('_',2)[1];
					if($('input[name=言語層]:checked').val()=='文讀音')
					{
						suan2[i]+=tsha5tioh4[i].length-1;
					}
					else //if($('input[name=言語層]:checked').val()=='白話音')
					{
						suan2[i]+=1;
					}
					suan2[i]%=tsha5tioh4[i].length;
					san2sing1ji7kiat4ko2(ji7kiat4ko2);
					//alert(ji7kiat4ko2.id+suan2.length);
					//$('#'+ji7kiat4ko2.id).html('');
					//ji7kiat4ko2.innerHTML='';
				}
				function 重設文白()
				{
					if($('input[name=言語層]:checked').val()=='文讀音')
					{
						for ( var i = 0; i < suan2.length; ++i)
							suan2[i]=tsha5tioh4[i].length-1;
					}
					else //if($('input[name=言語層]:checked').val()=='白話音')
					{
						for ( var i = 0; i < suan2.length; ++i)
							suan2[i] = 0;
					}
					for ( var i = 0; i < tsha5tioh4.length; ++i)
					{
						san2sing1ji7kiat4ko2(document.getElementById('tsha5e5kiat4ko2_'+i));
					}
				}
			</script>

		</section>
	</article>
</div>
