<% content_for:title do %>標音工具｜意傳文化科技<% end %>
<% content_for:description do %>幫您作出國語翻閩南語、國語翻客語、閩南語標音、客語標音。可複製翻譯和標音結果，還可以聽見發音。<% end %>

<%# encoding: utf-8 %>
<div class="huainn5">
	<article>
		<section id="標音工具">
			標音工具	<hr />
			<!---
			<p>
				目前先以閩南語漳州腔來測試，泉州腔及客家話待功能完整即會放上。<br />
			</p>
			--->
			<form
				onSubmit="javascript:return false;">
				<p>
					<input type="radio" name="言語種類" value="漢語族閩方言閩南語偏漳腔"
						onClick="javascript:重設文白()" checked>閩南語偏漳腔 <input
						type="radio" name="言語種類" value="漢語族閩方言閩南語偏泉腔"
						onClick="javascript:重設文白()" >閩南語偏泉腔 <input
						type="radio" name="言語種類" value="漢語族閩方言閩南語混合腔"
						onClick="javascript:重設文白()" >閩南語混合腔 <br />
					<input type="radio" name="言語種類" value="漢語族客家方言四縣腔"
						onClick="javascript:重設文白()">客家話四縣腔 <input
						type="radio" name="言語種類" value="漢語族客家方言海陸腔"
						onClick="javascript:重設文白()" >客家話海陸腔 <input
						type="radio" name="言語種類" value="漢語族客家方言大埔腔"
						onClick="javascript:重設文白()" >客家話大埔腔<br />
					<input type="radio" name="言語種類" value="漢語族客家方言饒平腔"
						onClick="javascript:重設文白()" >客家話饒平腔 <input
						type="radio" name="言語種類" value="漢語族客家方言詔安腔"
						onClick="javascript:重設文白()" >客家話詔安腔 <input
						type="radio" name="言語種類" value="漢語族官話方言北京官話臺灣腔" onClick="javascript:重設文白()"
						>國語<br />
				</p>
				<p>
					<textarea id="ai3tsha5">我有30張i2-a2！！</textarea><br/>先<input
						type="button" value="翻譯" onClick="javascript:suan2gi2('翻譯國語')">或<input
						type="button" value="標音" onClick="javascript:suan2gi2('自動標音');">再
				<input type="button" value="發音" onClick="javascript:集選擇()">
				<span id='聲音區'>
				<audio controls='controls' id='聲音放送'>
				</audio>
				聲音可右鍵<a id='聲音掠落下'>另存新檔</a>！
				</span>
				</p>
			</form>
			<p>
				<span id="tsha5e5kiat4ko2"></span>
			</p>
				<p>
					<input type="radio" name="言語層" value="白話音"
						onClick="javascript:重設文白();製標音展示()" checked>白話音 <input
						type="radio" name="言語層" value="文讀音" onClick="javascript:重設文白();製標音展示()">文讀音
					<select id="標音選項" onClick="javascript:製標音展示()" disable="disable" >
						<option value="臺羅數字加注音">臺羅數字加注音</option>
						<option value="臺羅閏號加注音">臺羅閏號加注音</option>
						<option value="通用加注音">通用加注音</option>
						<option value="注音符號">注音符號</option>
						<option value="臺羅數字調">臺羅數字調</option>
						<option value="臺羅閏號調">臺羅閏號調</option>
						<option value="通用拼音">通用拼音</option>
					</select>
				</p>
			<ul>
				<li>註：若有字音不符期待，可點選該字，就會變換標音！！</li>
			</ul>
			<p>
				<b>文書處理器複製用表格</b><br />字體大小：<select id="字大細"
					onchange="javascript:改表內字大細()">
					<option value="16">16</option>
					<option value="20">20</option>
					<option value="24" selected="selected">24</option>
					<option value="36">36</option>
					<option value="48">48</option>
				</select><br /> 每行字數：<select id="逐逝幾字" onchange="javascript:製稿表()">
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11" selected="selected">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
				</select><br />
				<!-- <input type="button" value="製表" onClick="javascript:製稿表()">  -->
			</p>
			<div id="稿表"></div>
			<br />
			<br />
			<br />
			<br />
			<br />
		</section>
		<script type="text/javascript">重設文白();suan2gi2('自動標音');</script>
		
	</article>
</div>
