<%# encoding: utf-8 %>
<div class="huainn5">
	<article>
		<section>
			標音方法
			<hr />
			<script src="http://code.jquery.com/jquery-1.10.2.min.js"
				type="text/javascript"></script>
			<p>
				目前先以閩南語漳州腔來測試，泉州腔及客家話待功能完整即會放上。<br />
			</p>
			<p>
			<form onSubmit="javascript:return tsha5('./自動標音/'+$('#ai3tsha5').val())">
				<input type="text" size="20" id="ai3tsha5"><input
					type="submit" value="標音">
			</form>
			<br /> <span id="tsha5e5kiat4ko2"></span>
			</p>
			<script type="text/javascript">
				var tsha5tioh4;
				var suan2;
				tsha5 = function(bang2tsi2) {
					$('#tsha5e5kiat4ko2').html('處理中……');
					/*alert(bang2tsi2);//*/
					$
							.ajax({
								url : bang2tsi2,
								type : 'GET',
								data : {},
								error : function(xhr) {
									$('#tsha5e5kiat4ko2').html('發生錯誤！！');
									$('#tsha5e5kiat4ko2').fadeIn();
								},
								success : function(response) {
									//$('#tsha5e5kiat4ko2').html(response);
									alert(response);
									tsha5tioh4 = eval('(' + response + ')');
									suan2 = new Array(tsha5tioh4.length);
									for ( var i = 0; i < suan2.length; ++i)
										suan2[i] = 0;
									var str = '';
									for ( var i = 0; i < tsha5tioh4.length; ++i)
									{
										str += '<span class="suan2" id="tsha5e5kiat4ko2_'+i
												+'" onclick="javascript:au7tsit8e5kiat4ko2(this)">';
										str += '</span>';
									}
									$('#tsha5e5kiat4ko2').html(str);
									for ( var i = 0; i < tsha5tioh4.length; ++i)
									{
										san2sing1ji7kiat4ko2(document.getElementById('tsha5e5kiat4ko2_'+i));
									}
									$('#tsha5e5kiat4ko2').fadeIn();
								}
							});
					return false;
				};
				function san2sing1ji7kiat4ko2(ji7kiat4ko2){
					var i=+ji7kiat4ko2.id.split('_',2)[1];
					var str='';
					for ( var k = 0; k < tsha5tioh4[i][suan2[i]].綜合標音.length; ++k) {
						str += '<ruby><rb>';
						str += tsha5tioh4[i][suan2[i]].綜合標音[k].型體;
						str += tsha5tioh4[i][suan2[i]].綜合標音[k].吳守禮方音;
						str += '</rb><rt>';
						str += tsha5tioh4[i][suan2[i]].綜合標音[k].臺羅數字調;
						str += '</rt></ruby>';
					}
					ji7kiat4ko2.innerHTML=str;
					tshue7tsoo2ji7(ji7kiat4ko2);
				}
				function au7tsit8e5kiat4ko2(ji7kiat4ko2)
				{
					var i=+ji7kiat4ko2.id.split('_',2)[1];
					suan2[i]+=1;
					suan2[i]%=tsha5tioh4[i].length;
					san2sing1ji7kiat4ko2(ji7kiat4ko2);
					//alert(ji7kiat4ko2.id+suan2.length);
					//$('#'+ji7kiat4ko2.id).html('');
					//ji7kiat4ko2.innerHTML='';
				}
			</script>

		</section>
	</article>
</div>
