<% content_for:title do %>特此聲明｜意傳文化科技<% end %>
<% content_for:description do %>本站考慮初學者才剛接觸閩客語的注音符號，因此統一用教育部規定的拼音方案。<% end %>

<div class="tit8">
	<article>

		<section class="font22px">
			<header>特此聲明	<hr /></header>
			<p>由於台語一詞可指閩南語或是所有台灣語言，為了清楚稱呼，本站一律用國語、閩南語、客家話、原住民語稱呼，並無特定立場。</p>
			<p>本站考慮到初學者才剛接觸閩客語的注音符號，在「標音工具」統一使用教育部規定的拼音方案。閩南語的版本新增了吳守禮教授改良的方音符號。詳細請看「注音介紹」。若需要其他拼音方案的格式，歡迎<%=	
			link_to "聯絡我們", :action=>"聯絡我們" %>！</p>
		</section>

	</article>
</div>