
<div class="tit8">
	<article>

		<section style="font-size: 24px;">
			<h6 style="font-size: 32px;">
				特此聲明
				<hr />
			</h6>
			<p>為了清楚稱呼，本站一律用國語、閩南語、客家話、原住民語稱呼，並無特定立場。</p>
			<p>本站考慮到初學者才剛接觸閩客語的注音符號，在「標音工具」統一使用教育部規定的拼音方案。閩南語的版本新增了吳守禮教授改良的方音符號。詳細請看「注音介紹」。若需要其他拼音方案的格式，歡迎<%=
				link_to "聯絡我們", :action=>"聯絡我們" %>！</p>

		</section>

	</article>
</div>