<% content_for:title do %>服務資訊｜意傳文化科技<% end %>
<% content_for:description do %>本站提供閩客語的「標音工具」以及「組字工具」。標音工具包含標示注音、國語翻譯、真人發音三個功能，組字工具僅包含組字功能。<% end %>

<div class="tit8">
	<article>
		<section style="font-size:24px;">
		<h6 style="font-size:32px;">產品資訊</h6>
		<hr />
		
		<p>本站提供「標音工具」以及「組字工具」。標音工具包含標示注音、國語翻譯、真人發音三個功能，組字工具僅包含組字功能。</p>
		<p><span style="color:blue;">標示注音</span>
			把輸入符合母語語法的句子標上注音，故簡稱標音工具。
			支援三種輸入方式，直接用輸入法輸入漢字、羅馬拼音文、
			或是從《組字工具》複製您的組字式，可混合使用。</p>
			
		<p><span style="color:blue;">國語翻譯</span>
			把輸入的國語翻譯成閩南語或客語，完成翻譯之後可以再用上述工具標示注音。</p>
			
		<p><span style="color:blue;">語音合成</span>
			可將標音後的句子合成出整句話的發音。</p>
			
		<p><span style="color:blue;">組字</span>
			您可以自行組合不易查找的方言文字，例如：「⿰因」、「⿰厓」。也可產生創意字例如：「⿴辶⿴宀⿱珤⿰隹⿰貝招」。</p>
		 
		 
		<p style="text-align:center;">○●○●</p>
		
		<p>標音成果</p>
		<ruby class="ji7im1" class="ji7im1"><rb>我⿳⿳⿳ㆣㄨㄚˋ</rb><rt>gua2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>身⿳⿳ㄒㄧㄣ</rb><rt>sin1</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>騎⿳⿳⿳ㄎㄧㄚˊ</rb><rt>khia5</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>白⿳⿳⿳ㄅㆤ㆐ㆶ</rb><rt>pek8</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>馬⿳⿳ㆠㆤˋ</rb><rt>be2</rt></ruby class="ji7im1" class="ji7im1">
		<br/>
		<ruby class="ji7im1" class="ji7im1"><rb>我⿳⿳⿳ㆣㄨㄚˋ</rb><rt>gua2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>身⿳⿳ㄒㄧㄣ</rb><rt>sin1</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>騎⿳⿳⿳ㄎㄧㄚˊ</rb><rt>khia5</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>白⿳⿳⿳ㄅㆤ㆐ㆶ</rb><rt>pek8</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>馬⿳⿳ㆠㆤˋ</rb><rt>be2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>走⿳⿳ㄗㄠˋ</rb><rt>tsau2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>三⿳ㄙㆰ</rb><rt>sam1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>關⿳⿳ㄍㄨㄢ</rb><rt>kuan1</rt></ruby class="ji7im1">，<br />
		<ruby class="ji7im1"><rb>改⿳⿳ㄍㄞˋ</rb><rt>kai2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>換⿳⿳ㄨㆩ˪</rb><rt>uann7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>素⿳⿳ㄙㆦ˪</rb><rt>soo3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>衣⿳ㄧ&nbsp;</rb><rt>i1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>回⿳⿳⿳ㄏㄨㆤˊ</rb><rt>hue5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>中⿳⿳ㄉㄧㆲ</rb><rt>tiong1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>原⿳⿳⿳ㆣㄨㄢˊ</rb><rt>guan5</rt></ruby class="ji7im1">，<br />
		<ruby class="ji7im1"><rb>放⿳⿳ㄅㄤ˪</rb><rt>pang3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>下⿳⿳ㄏㄚ˫</rb><rt>ha7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>西⿳ㄙㆤ</rb><rt>se1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>涼⿳⿳⿳ㄌㄧㄤˊ</rb><rt>liang5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>無⿳⿳ㆠㄜˊ</rb><rt>bo5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>人⿳⿳ㄌㄤˊ</rb><rt>lang5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>管⿳⿳⿳ㄍㄨㄢˋ</rb><rt>kuan2</rt></ruby class="ji7im1">，<br />
		<ruby class="ji7im1"><rb>一⿳ㄧㆵ</rb><rt>it4</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>心⿳⿳ㄙㄧㆬ</rb><rt>sim1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>只⿳⿳ㄗㄧˋ</rb><rt>tsi2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>想⿳⿳⿳ㄙㄧㆫ˫</rb><rt>siunn7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>王⿳ㆲˊ</rb><rt>ong5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>寶⿳⿳ㄅㄜˋ</rb><rt>po2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>釧⿳⿳ㄘㄨㄢ</rb><rt>tshuan1</rt></ruby class="ji7im1">。<br />
		<br />
		
		
		<!-- 標音成果（直式）
		（務必使用火狐瀏覽器觀看）
		
		標音成果（橫式）
		
		翻譯成果
		 -->
		 
		<!-- 	
			<p>
				意傳文化科技專門製作閩南語和客家話的教材系統，網站提供的服務皆為免費，歡迎大家自由取用。若有大量文件、教材需處理，可以聯絡我們，我們會專人幫您服務：
			</p>
			<p>
				<b>閩南語、客語自動標音：</b><br />
				使用母語教材時，若有音標輔助是可以解決腔口、文白不知道該怎麼唸的問題，但打完漢字後還需要再打一次音標，勞累且繁瑣，為了節省額外的人力成本，而發展這套服務。以閩南語為例，輸入「我身騎白馬…」，可以產生如首頁的標音，其中拼音種類、位置，直行橫行排版、和其他格式等等皆可依不同的需求改變。在「關於意傳」有直行範例（務必使用火狐瀏覽器觀看），還有「橫式範例」可參考，如果若有興趣，可以前往「標音方法」使用！
			</p>
			<p>
				<b>國語文本翻譯成閩、客語：</b><br />
				以國語註記的文本，往往同一詞，發音卻不同。以閩南語為例，用國語的「地方」來說，「地方上…」閩南語直接照著唸，但是「好地方」，卻要唸「好所在」，造成講者的困擾。因此提供一套翻譯工具，讓現有的國語文本，能夠拿來產生閩客語文本，減少講者負擔。目前已進入最後調校階段，閩南語預計十月底前完成。客語依需求再行決定。
			</p>
			<p>
				<b>閩南語有聲服務：</b><br />
				閩南語教材，搭配有聲的ＣＤ往往可以加強學習效果，事半功倍。但是聘請專業錄音人員成本相當高。因此開發語音合成服務，只要提供國語或閩南語文本，將產生聲音檔供大家使用。預計年底前會有初步雛形。
			</p>
			<p>
				<b>跨平臺造字：</b><br />
				有些字如閩南語的「⿰因」或是客語的「⿰厓」需要使用造字，但是造字在不同電腦需要面對安裝或亂碼的問題，因此使用我們製作一個可以跨平臺、簡易的組字的方法，只要輸入部首及偏旁，就可以自動生成該字圖片，由於圖片不會受到平臺的影響，就能避免亂碼問題，歡迎請參考「線上組字」。
			</p>
			<p>
				如果您需要的功能我們沒有提供（如客語字典等等）或我們做太慢有急用（像是語音合成），麻煩「聯絡我們」，我們會盡量幫忙解決問題，希望大家更方便地使用閩南語、客語！
			</p>
			<p>若是覺得意傳不錯，麻煩介紹給大家！！</p>
	-->
		</section>


		

	</article>
</div>