<% content_for :title do %>程式下載｜意傳文化科技<% end %>
<% content_for :description do %>意傳科技的工具皆開放下載，請在這下載組字工具的完整程式碼。<% end %>

<%# encoding: utf-8 %>
<div class="huainn5">
<article>
	<section id="程式下載" class="font22px">
		<header>組字程式下載<hr/></header>
		<p>漢字組建採用Affero通用公眾特許條款（Affero General Public License, AGPL)開放原始碼。
			<br/></p>
		<p>漢字組建使用java撰寫。如有需要，請參考<%= link_to 'github專案','https://github.com/sih4sing5hong5/han3_ji7_tsoo1_kian3' %>內部說明文件。</p>
	</section>
</article>
</div>