<%# encoding: utf-8 %>
<div class="huainn5">
<article>
	<section id="使用說明">
		<h6>組字說明<hr/></h6>
		
		<p>不只是閩南語的「⿰因」和客語的「⿰厓」，許多的方言漢字以往只能造字，但是造字在不同電腦需要面對安裝或亂碼的問題。因此我們製作一個可以跨平臺、簡易的組字方法，只要輸入部首及偏旁，就可以自動生成該字圖片。一來解決目前中文輸入法尚未能夠充分支援閩客語字的問題，再加上圖片不會受到平臺的影響，能避免亂碼問題。</p>
		<br/>
		
		<p>漢字的組字式是逐步拆解出各個部首和偏旁的順序，每次的拆解可以是外到內⿴，左到右⿰，上到下⿱這三個方向。</p>
    
		扌帶＝⿰扌帶  (左到右）
		因＝⿴囗大      (外到內）
		人因＝⿰因
            ＝⿰⿴囗大  
		
    	任心＝⿱任心 （上到下）

		<br/>
		<p>若需要標示注音，將組字式複製到標音工具，便能下載到完成標音的組字。</p>
	</section>
</article>
</div>