
<div class="huainn5">
	<article>
		線上組字
		<hr />
		維修中，八月中前修復
		<!-- 
		以下是造字工具雛形，介面仍會調整，說明會儘快放上來的！！
		<p>
		<div id="too5tsip8">
			<img id="hian2si7too5it4" /> <img id="hian2si7too5ji7" />
		</div>
		<br />
		<form onsubmit="javascript:sang3tsut4su1jip8();return false;">
			<input type="text" id="su1jip8" onChange="" onkeyup="kiam2tsa1()"
				onkeydown="kiam2tsa1()" onPaste="kiam2tsa1()" oncut="kiam2tsa1()"
				oninput="kiam2tsa1()"> <input id="sang3tsut4liu2a2"
				type="submit" value="全送出" /> <br /> <input class="tsoo2ji7liu2a2"
				type="button" value="⿰"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="⿱"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="⿳"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="⿻"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="⿴"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="⿴辶"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="⿴囗"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="⿴辶⿴宀⿱珤⿰隹⿰貝招"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" /><br />
			<input class="tsoo2ji7liu2a2" type="button" value="ㄅ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㄆ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㄇ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㄈ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㆠ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<br /> <input class="tsoo2ji7liu2a2" type="button" value="ㄧ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㄨ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㄩ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<br /> <input class="tsoo2ji7liu2a2" type="button" value="ㄚ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㆩ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㄛ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㄜ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㆦ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㆧ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" /><br />
			<input class="tsoo2ji7liu2a2" type="button" value="ˊ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ˇ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ˋ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="˙"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="˪"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="˫"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="^"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="㆐"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" /><br />
			<input class="tsoo2ji7liu2a2" type="button" value="ㆴ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㆵ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㆶ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
			<input class="tsoo2ji7liu2a2" type="button" value="ㆷ"
				onclick="javascript:addTextonInputSelection(su1jip8,this.value)" />
		</form>
		<div id="ket4ko2" contenteditable="true" onfocus="ki3lok8huan7ui5();"
			onkeyup="ki3lok8huan7ui5();" onmouseout="ki3lok8huan7ui5();"
			onmouseover="ki3lok8huan7ui5();"></div>
		<br />
		<form>
			<input class="ket4ko2liu2a2" type="button" value="產生組字"
				onclick="javascript:tshue7tsoo2ji7(ket4ko2)" /> <input
				class="ket4ko2liu2a2" type="button" value="變轉組字式"
				onclick="javascript:pian3tng2tsoo2ji7sik4()" />
		</form>

		</p>
 -->
	</article>
</div>
