
<div class="tit8">
	<article>
		<section class="font22px">
		<header>聯絡我們<hr /></header>
		
		<p>不論您是需要幫忙編排大量鄉土語言講義，或是對於本站工具有任何想法、疑問，都歡迎您隨時<%= link_to "聯絡我們", :action=>"聯絡我們" %>。我們會盡快跟您聯絡！	</p>
		
		<p>
			聯絡人：薛丞宏<br /> 電子信箱：ihcaoe＠gmail.com<br />
			臉書：<span class="nng2tsua1"><a href="https://www.facebook.com/chenghung.hsueh">https://www.facebook.com/chenghung.hsueh</a></span><br />
		</p>
		
		</section>
	</article>
</div>
