
<div class="huainn5">
	<article>
		聯絡我們
		<hr />
		<p>
			意傳負責人：薛丞宏<br /> 電子信箱：ihcaoe@gmail.com<br />
			臉書：<a href="https://www.facebook.com/chenghung.hsueh">https://www.facebook.com/chenghung.hsueh</a><br />
		</p>

	</article>
</div>
