
<div class="tit8">
	<article>
		<section class="font22px">
		<header>聯絡我們<hr /></header>
		
		<p>
			聯絡人：薛丞宏<br /> 電子信箱：ihcaoe＠gmail.com<br />
			臉書：<span class="nng2tsua1"><a href="https://www.facebook.com/chenghung.hsueh">https://www.facebook.com/chenghung.hsueh</a></span><br />
		</p>
		
		</section>
	</article>
</div>
