<%# encoding: utf-8 %>
<div class="tit8">
	<article>
		<section>
		<table>
			<tr>
				<th style="text-decoration:underline;">閩客語的演變</th><th style="text-decoration:underline;">臺灣的閩客語研究</th>
			</tr>
			<tr>
				<td>
					<ul>
					<li>閩客語不是沒有字嗎？<br/>
						<blockqoute>沒錯，少數的詞彙原來是沒有漢字的。例如閩南語中男生...</blockqoute></a></li>
					<li>廣韻：揭開漢語方言的演化史<br/>
						<blockqoute>《廣韻》是現今保存最完整的、最古老的、也是最重要的一部韻書。...</blockqoute></li>
					</ul>
				</td>
				<td>
					<ul>
					<li>閩客語不是沒有字嗎？<br/>
						<blockqoute>「拼音」是用拼音直接表示文字，也可以當作白話字的增補。...</blockqoute></li>
					<li>方音符號<br/>
						<blockqoute>方音符號，又稱方言音符號，將國語注音增添一些符號來標注閩南話和客家話。...</blockqoute></li>
					</ul>
				</td>
			</tr>
		</table>
		</section>
	</article>
</div>
			