
		<div class="tit8">
			<article>
			<section>
				關於意傳<hr />
				<p>
					意傳文化科技是針對閩南語和客家話，製作自動造字、文稿自動標音、國語字稿翻譯、語音合成等相關系統為目標，目前閩南語前三者已有初步雛形。</p>
				<p>原本只是對閩客語之間的關連感到興趣，意外發現自己母語的資源並不足夠，所以想藉由開發語言相關系統，能夠在學習、藝術、出版、推廣上盡點棉薄之力。</p>
				
				<br />
				
				
			</section>
			<section>
				標音成果<hr />
				<div class="su5">
				
				
				<b>
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">我</span>⿳⿳⿳ㆣㄨㄚˋ</span>gua2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">身</span>⿳⿳ㄒㄧㄣ</span>sin1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">騎</span>⿳⿳⿳ㄎㄧㄚˊ</span>khia5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">白</span>⿳⿳⿳ㄅㆤ㆐ㆶ</span>pek8
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">馬</span>⿳⿳ㆠㆤˋ</span>be2
<span class="ji7im1">⿳&nbsp;&nbsp;⿳&nbsp;&nbsp;</span>　
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">古</span>⿳⿳ㄍㆦˋ</span>koo2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">詞</span>⿳⿳ㄙㄨˊ</span>su5
</b>
<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">我</span>⿳⿳⿳ㆣㄨㄚˋ</span>gua2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">身</span>⿳⿳ㄒㄧㄣ</span>sin1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">騎</span>⿳⿳⿳ㄎㄧㄚˊ</span>khia5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">白</span>⿳⿳⿳ㄅㆤ㆐ㆶ</span>pek8
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">馬</span>⿳⿳ㆠㆤˋ</span>be2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">走</span>⿳⿳ㄗㄠˋ</span>tsau2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">三</span>⿳ㄙㆰ</span>sam1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">關</span>⿳⿳ㄍㄨㄢ</span>kuan1
，<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">改</span>⿳⿳ㄍㄞˋ</span>kai2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">換</span>⿳⿳ㄨㆩ˪</span>uann7
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">素</span>⿳⿳ㄙㆦ˪</span>soo3
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">衣</span>⿳ㄧ&nbsp;</span>i1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">回</span>⿳⿳⿳ㄏㄨㆤˊ</span>hue5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">中</span>⿳⿳ㄉㄧㆲ</span>tiong1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">原</span>⿳⿳⿳ㆣㄨㄢˊ</span>guan5
，<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">放</span>⿳⿳ㄅㄤ˪</span>pang3
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">下</span>⿳⿳ㄏㄚ˫</span>ha7
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">西</span>⿳ㄙㆤ</span>se1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">涼</span>⿳⿳⿳ㄌㄧㄤˊ</span>liang5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">無</span>⿳⿳ㆠㄜˊ</span>bo5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">人</span>⿳⿳ㄌㄤˊ</span>lang5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">管</span>⿳⿳⿳ㄍㄨㄢˋ</span>kuan2
，<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">一</span>⿳ㄧㆵ</span>it4
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">心</span>⿳⿳ㄙㄧㆬ</span>sim1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">只</span>⿳⿳ㄗㄧˋ</span>tsi2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">想</span>⿳⿳⿳ㄙㄧㆫ˫</span>siunn7
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">王</span>⿳ㆲˊ</span>ong5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">寶</span>⿳⿳ㄅㄜˋ</span>po2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">釧</span>⿳⿳ㄘㄨㄢ</span>tshuan1
。<br />
<br />
<b>
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">登</span>⿳⿳ㄉㄧㄥ</span>ting1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">鸛</span>⿳⿳⿳ㄍㄨㄢ˪</span>kuan3
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">雀</span>⿳⿳⿳ㄑㄧㆦㆶ</span>tshiok4
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">樓</span>⿳⿳⿳ㄌㄧㄨˊ</span>liu5
<span class="ji7im1">⿳&nbsp;&nbsp;⿳&nbsp;&nbsp;</span>　
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">王</span>⿳ㆲˊ</span>ong5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">之</span>⿳ㄐㄧ</span>tsi1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">渙</span>⿳⿳⿳ㄏㄨㄢ˪</span>huan3
</b>
<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">白</span>⿳⿳⿳ㄅㆤ㆐ㆷ</span>peh8
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">日</span>⿳⿳⿳ㄌㄧ㆐ㆵ</span>lit8
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">依</span>⿳ㄧ&nbsp;</span>i1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">山</span>⿳ㄙㄢ</span>san1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">盡</span>⿳⿳⿳ㄐㄧㄣ˫</span>tsin7
，<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">黃</span>⿳⿳ㄏㆲ˫</span>hong7
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">河</span>⿳⿳ㄏㄜˊ</span>ho5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">入</span>⿳⿳⿳ㄌㄧ㆐ㆴ</span>lip8
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">海</span>⿳⿳ㄏㄞˋ</span>hai2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">流</span>⿳⿳⿳ㄌㄧㄨˊ</span>liu5
，<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">欲</span>⿳⿳⿳ㄧㆦ㆐ㆶ</span>iok8
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">窮</span>⿳⿳⿳ㄍㄧㆲˊ</span>kiong5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">千</span>⿳⿳ㄑㄧㄢ</span>tshian1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">里</span>⿳⿳ㄌㄧˋ</span>li2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">目</span>⿳⿳⿳⿳ㆠㄧㆦ㆐ㆶ</span>biok8
，<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">更</span>⿳⿳⿳ㄍㄧㄥ˪</span>king3
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">上</span>⿳⿳⿳ㄒㄧㆲ˫</span>siong7
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">一</span>⿳ㄧㆵ</span>it4
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">層</span>⿳⿳⿳ㄐㄧㄣˊ</span>tsin5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">樓</span>⿳⿳⿳ㄌㄧㄨˊ</span>liu5
。
<br />
<br />
<b>
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">點</span>⿳⿳⿳ㄉㄧㆰˋ</span>tiam2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">仔</span>⿳ㄚˋ</span>a2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">膠</span>⿳ㄍㄚ</span>ka1
<span class="ji7im1">⿳&nbsp;&nbsp;⿳&nbsp;&nbsp;</span>　
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">施</span>⿳ㄒㄧ</span>si1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">福</span>⿳⿳ㄏㆦㆶ</span>hok4
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">珍</span>⿳⿳ㄉㄧㄣ</span>tin1
</b>
<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">點</span>⿳⿳⿳ㄉㄧㆰˋ</span>tiam2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">仔</span>⿳ㄚˋ</span>a2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">膠</span>⿳ㄍㄚ</span>ka1
，
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">黏</span>⿳⿳⿳ㄌㄧㆰˊ</span>liam5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">著</span>⿳⿳⿳⿳ㄉㄧㆦ㆐ㆷ</span>tioh8
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">跤</span>⿳ㄎㄚ</span>kha1
，<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">叫</span>⿳⿳⿳ㄍㄧㆦ˪</span>kio3
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">阿</span>⿳ㄚ&nbsp;</span>a1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">爸</span>⿳ㄅㄚ</span>pa1
，
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">買</span>⿳⿳ㆠㆤˋ</span>be2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">豬</span>⿳ㄉㄧ</span>ti1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">跤</span>⿳ㄎㄚ</span>kha1
，<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">豬</span>⿳ㄉㄧ</span>ti1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">跤</span>⿳ㄎㄚ</span>kha1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">箍</span>⿳ㄎㆦ</span>khoo1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">仔</span>⿳ㄚˋ</span>a2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">焄</span>⿳⿳⿳ㄍㄨㄣˊ</span>kun5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">爛</span>⿳⿳⿳ㄋㄨㄚ˫</span>nua7
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">爛</span>⿳⿳⿳ㄋㄨㄚ˫</span>nua7
，<br />
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">枵</span>⿳ㄧㄠ</span>iau1
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">鬼</span>⿳⿳⿳ㄍㄨㄧˋ</span>kui2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">囡</span>⿳⿳⿳ㄍㄧㄣˋ</span>kin2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">仔</span>⿳ㄚˋ</span>a2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">流</span>⿳⿳ㄌㄠˊ</span>lau5
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">喙</span>⿳⿳⿳ㄘㄨㄧˋ</span>tshui2
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">瀾</span>⿳⿳⿳ㄋㄨㄚ˫</span>nua7
。<br />
<br />
<b>
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">客</span>⿳&nbsp;&nbsp;</span>hagˋ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">家</span>⿳&nbsp;&nbsp;</span>gaˊ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">本</span>⿳&nbsp;&nbsp;</span>bunˋ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">色</span>⿳&nbsp;&nbsp;</span>sedˋ
<span class="ji7im1">⿳&nbsp;&nbsp;⿳&nbsp;&nbsp;</span>　
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">涂</span>⿳&nbsp;&nbsp;</span>tuˇ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">敏</span>⿳&nbsp;&nbsp;</span>menˋ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">恆</span>⿳&nbsp;&nbsp;</span>henˇ
</b>
<br/>
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">唐</span>⿳&nbsp;&nbsp;</span>tongˇ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">山</span>⿳&nbsp;&nbsp;</span>sanˊ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">過</span>⿳&nbsp;&nbsp;</span>go
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">台</span>⿳&nbsp;&nbsp;</span>toiˇ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">灣</span>⿳&nbsp;&nbsp;</span>vanˇ
，<br/>
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">無</span>⿳&nbsp;&nbsp;</span>moˇ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">半</span>⿳&nbsp;&nbsp;</span>ban
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">點</span>⿳&nbsp;&nbsp;</span>diamˋ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">錢</span>⿳&nbsp;&nbsp;</span>qienˇ
，<br/>
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">剎</span>⿳&nbsp;&nbsp;</span>sadˋ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">猛</span>⿳&nbsp;&nbsp;</span>mangˊ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">打</span>⿳&nbsp;&nbsp;</span>daˋ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">拼</span>⿳&nbsp;&nbsp;</span>biang
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">耕</span>⿳&nbsp;&nbsp;</span>gangˊ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">山</span>⿳&nbsp;&nbsp;</span>sanˊ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">耕</span>⿳&nbsp;&nbsp;</span>gangˊ
<span class="ji7im1">⿳&nbsp;&nbsp;<span class="tsu2ji7">田</span>⿳&nbsp;&nbsp;</span>tienˇ
，<br/>
。。。。。。<br/>
<br />
<br />
				




				</div>
			</section>
			
			<section>
			
閩客語不是沒有字嗎？為何有漢字？
<hr/>
<p>
沒錯，少數的詞彙原來是沒有漢字的。閩客祖先自中原移居至閩越時，和相對多數的壯苗族裔通婚，因而留下「查甫」（男生）、「查某」（女生）的「查」這個壯侗語詞頭[1]。
來看看幾個常見的字
</p>
<table class="gi2im1hak8">
<tr><td>不標聲調</td><td>國語</td><td>閩南語</td><td>客家四縣腔</td></tr>
<tr><td>狗</td><td>ㄍㄡ<br/>ㄍㄛㄨ</td><td>ㄍㄠ<br/>ㄍㄚㄨ</td><td>ㄍㄝㄨ</td></tr>
<tr><td>頭</td><td>ㄊㄡ<br/>ㄊㄛㄨ</td><td>ㄊㄠ<br/>ㄊㄚㄨ</td><td>ㄊㄝㄨ</td></tr>
<tr><td>後</td><td>ㄏㄡ<br/>ㄏㄛㄨ</td><td>ㄠ<br/>ㄚㄨ</td><td>ㄏㄝㄨ</td></tr>
<tr><td>手</td><td>ㄕㄡ</td><td>ㄑㄧㄨ</td><td>ㄙㄨ</td></tr>
<tr><td>周</td><td>ㄓㄡ</td><td>ㄐㄧㄨ</td><td>ㄗㄨ</td></tr>
</table>
<p>
「狗頭後」三字的韻母，在三種語言中呈現「ㄛㄨ　ㄚㄨ　ㄝㄨ」的對比，是什麼原因如此有規律呢？因為「狗頭後」三字原本是押韻的，分化成國閩客三種方言時，三字仍然是彼此押韻的，我們可以從紀錄隋唐音的廣韻來佐證，「狗頭後」皆屬「侯韻」，三字當時是押韻的。
</p>
<p>
那為什麼「手周」沒有跟著押韻呢？因為這兩字在廣韻裡屬「尤韻」，跟當時的「侯韻」三字是不押韻的，由韻書的紀載來看，國語的「侯韻」及「尤韻」在宋朝合流，押韻至今。而閩客兩方言祖先在宋朝前就以分化出去，並沒有受到國語合流的影響，在尤侯韻這點閩客兩方言是保守的。
</p>
<p>
三種方言中，三韻其實彼此有關係，「ㄛㄨ　ㄚㄨ　ㄝㄨ」分別是舌頭在前、舌頭在中、舌頭在後，這其實就是「侯韻」演變的歷史，奈現在的文獻材料不可能以判定「侯韻」其原本實際音值。此外，「手」的聲母「ㄕ ㄑㄧ ㄙ」、「周」的聲母「ㄓ  ㄐㄧ ㄗ」也是有關聯的，分別是舌頭在後、舌頭在中、舌頭在前。
</p>
<p>
此外，「後」的「ㄏ」為獨閩語沒有。查考其他方言，大多數方言的「後」是有「ㄏ」的，以語音學的角度，「ㄏ」不太可能無中生有。因此我們推測，閩語「後」的「ㄏ」是因為在講不清楚或聽不清楚的口耳相傳中漸漸遺落的，這反而是閩語一個創新的特徵。而閩籍祖先是由不同時期不同地點而來，又受到唐宋科舉讀書音的影響，造就了四個漢語語言層次，及文白兩異讀。閩南語保留了不同時期的特徵，又有許多創新特徵，由此可說是一座「漢語史博物館」[2]。（歡迎參考閩客歷史。）
</p>
<p>
由以上材料及文獻推論，閩南語及客家話皆是有漢字的。
</p>
<p>
[1]董忠司。臺灣閩南語概論講授資料彙編，頁3-4。民國八十五年，董忠司　主編。<br/>
[2]張光宇。臺灣閩南語辭典－序。民國八十九年，董忠司　總編纂，國立編譯館　主編，五南圖書出版公司　印行。
</p>
			
			</section>
			<section>
				特此聲名<hr/>
				<p>由於教育部官方閩南語拼音為台羅，因此做為本站預設拼音並以數字標示調號，且以八十七年方音符號做為初學者過渡之用，減少初學文字拼音之距離感。若需要閏音調號或是通用、教羅等其他拼音等等不同的規格，意傳提供客製化服務，歡迎聯絡我們！！</p>
				<p>惟客語拼音相較統一，以教育部規定為主，其注音符號純為本站技術展示，並無他意。</p>
				<p>此外，廣義的臺灣語言（臺語）包含臺灣的國語、閩南語、客家話及原住民十多族族語，狹義的專指臺灣閩南語，為了清楚稱呼，在本站一律使用國語、閩南語、客家話、原住民語稱呼，無其他特定立場。</p>
			</section>
			
</article>
		</div>