		<div class="tit8">
			<article>
			<section>
				關於意傳<hr />
				<p>
					意傳文化科技是針對閩南語和客家話，製作自動造字、文稿自動標音、國語字稿翻譯、語音合成等相關系統為目標，目前閩南語前三者已有初步雛形。</p>
				<p>原本只是對閩客語之間的關連感到興趣，意外發現自己母語的資源並不足夠，所以想藉由開發語言相關系統，能夠在學習、藝術、出版、推廣上盡點棉薄之力。</p>
				
				<br />
				
				
			</section>
			<section>
				標音成果<hr />
				<div class="su5">
<b>
<ruby class="ji7im1" class="ji7im1"><rb>我⿳⿳⿳ㆣㄨㄚˋ</rb><rt>gua2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>身⿳⿳ㄒㄧㄣ</rb><rt>sin1</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>騎⿳⿳⿳ㄎㄧㄚˊ</rb><rt>khia5</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>白⿳⿳⿳ㄅㆤ㆐ㆶ</rb><rt>pek8</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>馬⿳⿳ㆠㆤˋ</rb><rt>be2</rt></ruby class="ji7im1" class="ji7im1">　
<ruby class="ji7im1" class="ji7im1"><rb>古⿳⿳ㄍㆦˋ</rb><rt>koo2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>詞⿳⿳ㄙㄨˊ</rb><rt>su5</rt></ruby class="ji7im1" class="ji7im1"></b>
<br />
<ruby class="ji7im1" class="ji7im1"><rb>我⿳⿳⿳ㆣㄨㄚˋ</rb><rt>gua2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>身⿳⿳ㄒㄧㄣ</rb><rt>sin1</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>騎⿳⿳⿳ㄎㄧㄚˊ</rb><rt>khia5</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>白⿳⿳⿳ㄅㆤ㆐ㆶ</rb><rt>pek8</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>馬⿳⿳ㆠㆤˋ</rb><rt>be2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>走⿳⿳ㄗㄠˋ</rb><rt>tsau2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>三⿳ㄙㆰ</rb><rt>sam1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>關⿳⿳ㄍㄨㄢ</rb><rt>kuan1</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>改⿳⿳ㄍㄞˋ</rb><rt>kai2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>換⿳⿳ㄨㆩ˪</rb><rt>uann7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>素⿳⿳ㄙㆦ˪</rb><rt>soo3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>衣⿳ㄧ&nbsp;</rb><rt>i1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>回⿳⿳⿳ㄏㄨㆤˊ</rb><rt>hue5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>中⿳⿳ㄉㄧㆲ</rb><rt>tiong1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>原⿳⿳⿳ㆣㄨㄢˊ</rb><rt>guan5</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>放⿳⿳ㄅㄤ˪</rb><rt>pang3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>下⿳⿳ㄏㄚ˫</rb><rt>ha7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>西⿳ㄙㆤ</rb><rt>se1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>涼⿳⿳⿳ㄌㄧㄤˊ</rb><rt>liang5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>無⿳⿳ㆠㄜˊ</rb><rt>bo5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>人⿳⿳ㄌㄤˊ</rb><rt>lang5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>管⿳⿳⿳ㄍㄨㄢˋ</rb><rt>kuan2</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>一⿳ㄧㆵ</rb><rt>it4</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>心⿳⿳ㄙㄧㆬ</rb><rt>sim1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>只⿳⿳ㄗㄧˋ</rb><rt>tsi2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>想⿳⿳⿳ㄙㄧㆫ˫</rb><rt>siunn7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>王⿳ㆲˊ</rb><rt>ong5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>寶⿳⿳ㄅㄜˋ</rb><rt>po2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>釧⿳⿳ㄘㄨㄢ</rb><rt>tshuan1</rt></ruby class="ji7im1">。<br />
<br />
<b>
<ruby class="ji7im1"><rb>登⿳⿳ㄉㄧㄥ</rb><rt>ting1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>鸛⿳⿳⿳ㄍㄨㄢ˪</rb><rt>kuan3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>雀⿳⿳⿳ㄑㄧㆦㆶ</rb><rt>tshiok4</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>樓⿳⿳⿳ㄌㄧㄨˊ</rb><rt>liu5</rt></ruby class="ji7im1">　
<ruby class="ji7im1"><rb>王⿳ㆲˊ</rb><rt>ong5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>之⿳ㄐㄧ</rb><rt>tsi1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>渙⿳⿳⿳ㄏㄨㄢ˪</rb><rt>huan3</rt></ruby class="ji7im1"></b>
<br />
<ruby class="ji7im1"><rb>白⿳⿳⿳ㄅㆤ㆐ㆷ</rb><rt>peh8</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>日⿳⿳⿳ㄌㄧ㆐ㆵ</rb><rt>lit8</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>依⿳ㄧ&nbsp;</rb><rt>i1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>山⿳ㄙㄢ</rb><rt>san1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>盡⿳⿳⿳ㄐㄧㄣ˫</rb><rt>tsin7</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>黃⿳⿳ㄏㆲ˫</rb><rt>hong7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>河⿳⿳ㄏㄜˊ</rb><rt>ho5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>入⿳⿳⿳ㄌㄧ㆐ㆴ</rb><rt>lip8</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>海⿳⿳ㄏㄞˋ</rb><rt>hai2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>流⿳⿳⿳ㄌㄧㄨˊ</rb><rt>liu5</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>欲⿳⿳⿳ㄧㆦ㆐ㆶ</rb><rt>iok8</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>窮⿳⿳⿳ㄍㄧㆲˊ</rb><rt>kiong5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>千⿳⿳ㄑㄧㄢ</rb><rt>tshian1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>里⿳⿳ㄌㄧˋ</rb><rt>li2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>目⿳⿳⿳⿳ㆠㄧㆦ㆐ㆶ</rb><rt>biok8</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>更⿳⿳⿳ㄍㄧㄥ˪</rb><rt>king3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>上⿳⿳⿳ㄒㄧㆲ˫</rb><rt>siong7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>一⿳ㄧㆵ</rb><rt>it4</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>層⿳⿳⿳ㄐㄧㄣˊ</rb><rt>tsin5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>樓⿳⿳⿳ㄌㄧㄨˊ</rb><rt>liu5</rt></ruby class="ji7im1">。
<br />
<br />
<b>
<ruby class="ji7im1"><rb>點⿳⿳⿳ㄉㄧㆰˋ</rb><rt>tiam2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>仔⿳ㄚˋ</rb><rt>a2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>膠⿳ㄍㄚ</rb><rt>ka1</rt></ruby class="ji7im1">　
<ruby class="ji7im1"><rb>施⿳ㄒㄧ</rb><rt>si1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>福⿳⿳ㄏㆦㆶ</rb><rt>hok4</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>珍⿳⿳ㄉㄧㄣ</rb><rt>tin1</rt></ruby class="ji7im1"></b>
<br />
<ruby class="ji7im1"><rb>點⿳⿳⿳ㄉㄧㆰˋ</rb><rt>tiam2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>仔⿳ㄚˋ</rb><rt>a2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>膠⿳ㄍㄚ</rb><rt>ka1</rt></ruby class="ji7im1">，
<ruby class="ji7im1"><rb>黏⿳⿳⿳ㄌㄧㆰˊ</rb><rt>liam5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>著⿳⿳⿳⿳ㄉㄧㆦ㆐ㆷ</rb><rt>tioh8</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>跤⿳ㄎㄚ</rb><rt>kha1</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>叫⿳⿳⿳ㄍㄧㆦ˪</rb><rt>kio3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>阿⿳ㄚ&nbsp;</rb><rt>a1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>爸⿳ㄅㄚ</rb><rt>pa1</rt></ruby class="ji7im1">，
<ruby class="ji7im1"><rb>買⿳⿳ㆠㆤˋ</rb><rt>be2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>豬⿳ㄉㄧ</rb><rt>ti1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>跤⿳ㄎㄚ</rb><rt>kha1</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>豬⿳ㄉㄧ</rb><rt>ti1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>跤⿳ㄎㄚ</rb><rt>kha1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>箍⿳ㄎㆦ</rb><rt>khoo1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>仔⿳ㄚˋ</rb><rt>a2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>焄⿳⿳⿳ㄍㄨㄣˊ</rb><rt>kun5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>爛⿳⿳⿳ㄋㄨㄚ˫</rb><rt>nua7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>爛⿳⿳⿳ㄋㄨㄚ˫</rb><rt>nua7</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>枵⿳ㄧㄠ</rb><rt>iau1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>鬼⿳⿳⿳ㄍㄨㄧˋ</rb><rt>kui2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>囡⿳⿳⿳ㄍㄧㄣˋ</rb><rt>kin2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>仔⿳ㄚˋ</rb><rt>a2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>流⿳⿳ㄌㄠˊ</rb><rt>lau5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>喙⿳⿳⿳ㄘㄨㄧˋ</rb><rt>tshui2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>瀾⿳⿳⿳ㄋㄨㄚ˫</rb><rt>nua7</rt></ruby class="ji7im1">。<br />
<br />
<b>
<ruby class="ji7im1"><rb>客</rb><rt>hagˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>家</rb><rt>gaˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>本</rb><rt>bunˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>色</rb><rt>sedˋ</rt></ruby class="ji7im1">　
<ruby class="ji7im1"><rb>涂</rb><rt>tuˇ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>敏</rb><rt>menˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>恆</rb><rt>henˇ</rt></ruby class="ji7im1"></b>
<br/>
<ruby class="ji7im1"><rb>唐</rb><rt>tongˇ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>山</rb><rt>sanˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>過</rb><rt>go</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>台</rb><rt>toiˇ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>灣</rb><rt>vanˇ</rt></ruby class="ji7im1">，<br/>
<ruby class="ji7im1"><rb>無</rb><rt>moˇ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>半</rb><rt>ban</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>點</rb><rt>diamˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>錢</rb><rt>qienˇ</rt></ruby class="ji7im1">，<br/>
<ruby class="ji7im1"><rb>剎</rb><rt>sadˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>猛</rb><rt>mangˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>打</rb><rt>daˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>拼</rb><rt>biang</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>耕</rb><rt>gangˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>山</rb><rt>sanˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>耕</rb><rt>gangˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>田</rb><rt>tienˇ</rt></ruby class="ji7im1">，<br/>
。。。。。。<br/>

<br />
<br />
				




				</div>
			</section>
			
		
			<section>
				特此聲名<hr/>
				<p>本站閩南語羅馬拼音暫時以教育部臺羅數字標示法<span class="pai5huainn5">[1]</span>，且以吳守禮教授改良的方音符號做為初學者過渡之用，減少初學文字拼音之距離感。若需要閏音調號或是通用、教羅等其他拼音等等不同的規格，意傳提供客製化服務，歡迎聯絡我們！！</p>
				<p>惟客語拼音相較統一、完備，以教育部規定為主。</p>
				<p>此外，廣義的臺灣語言（臺語）包含臺灣的國語、閩南語、客家話及原住民十多族族語，狹義的專指臺灣閩南語，為了清楚稱呼，在本站一律使用國語、閩南語、客家話、原住民語稱呼，無其他特定立場。</p>
	
<p>
<span class="pai5huainn5">[1]</span>教育部。臺灣閩南語羅馬字拼音方案使用手冊，頁11。民國九十七年。<br/>
</p>
			</section>
			
</article>
		</div>