		<div class="tit8">
			<article>
			<section class="font22px">
				<header>關於意傳<hr /></header>
				<p>意傳文化科技開發線上免費的閩南語、客家話的語言系統，歡迎下載程式碼。	如果您是教材編排者或是鄉土語言教師，需要幫忙編排大量文件或是客製化教材，請隨時<%= link_to "聯絡我們", :action=>"聯絡我們" %>。
				</p>
			</section>

<!-- 			
	<section>
		標音成果（直式）<hr />
<b>
<ruby class="ji7im1" class="ji7im1"><rb>我⿳⿳⿳ㆣㄨㄚˋ</rb><rt>gua2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>身⿳⿳ㄒㄧㄣ</rb><rt>sin1</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>騎⿳⿳⿳ㄎㄧㄚˊ</rb><rt>khia5</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>白⿳⿳⿳ㄅㆤ㆐ㆶ</rb><rt>pek8</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>馬⿳⿳ㆠㆤˋ</rb><rt>be2</rt></ruby class="ji7im1" class="ji7im1">　
<ruby class="ji7im1" class="ji7im1"><rb>古⿳⿳ㄍㆦˋ</rb><rt>koo2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>詞⿳⿳ㄙㄨˊ</rb><rt>su5</rt></ruby class="ji7im1" class="ji7im1"></b>
<br />
<ruby class="ji7im1" class="ji7im1"><rb>我⿳⿳⿳ㆣㄨㄚˋ</rb><rt>gua2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>身⿳⿳ㄒㄧㄣ</rb><rt>sin1</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>騎⿳⿳⿳ㄎㄧㄚˊ</rb><rt>khia5</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>白⿳⿳⿳ㄅㆤ㆐ㆶ</rb><rt>pek8</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>馬⿳⿳ㆠㆤˋ</rb><rt>be2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>走⿳⿳ㄗㄠˋ</rb><rt>tsau2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>三⿳ㄙㆰ</rb><rt>sam1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>關⿳⿳ㄍㄨㄢ</rb><rt>kuan1</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>改⿳⿳ㄍㄞˋ</rb><rt>kai2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>換⿳⿳ㄨㆩ˪</rb><rt>uann7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>素⿳⿳ㄙㆦ˪</rb><rt>soo3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>衣⿳ㄧ&nbsp;</rb><rt>i1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>回⿳⿳⿳ㄏㄨㆤˊ</rb><rt>hue5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>中⿳⿳ㄉㄧㆲ</rb><rt>tiong1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>原⿳⿳⿳ㆣㄨㄢˊ</rb><rt>guan5</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>放⿳⿳ㄅㄤ˪</rb><rt>pang3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>下⿳⿳ㄏㄚ˫</rb><rt>ha7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>西⿳ㄙㆤ</rb><rt>se1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>涼⿳⿳⿳ㄌㄧㄤˊ</rb><rt>liang5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>無⿳⿳ㆠㄜˊ</rb><rt>bo5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>人⿳⿳ㄌㄤˊ</rb><rt>lang5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>管⿳⿳⿳ㄍㄨㄢˋ</rb><rt>kuan2</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>一⿳ㄧㆵ</rb><rt>it4</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>心⿳⿳ㄙㄧㆬ</rb><rt>sim1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>只⿳⿳ㄗㄧˋ</rb><rt>tsi2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>想⿳⿳⿳ㄙㄧㆫ˫</rb><rt>siunn7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>王⿳ㆲˊ</rb><rt>ong5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>寶⿳⿳ㄅㄜˋ</rb><rt>po2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>釧⿳⿳ㄘㄨㄢ</rb><rt>tshuan1</rt></ruby class="ji7im1">。<br />
<br />
<!--暫時省略略略略開始-->
<!-- 
<b>
<ruby class="ji7im1"><rb>登⿳⿳ㄉㄧㄥ</rb><rt>ting1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>鸛⿳⿳⿳ㄍㄨㄢ˪</rb><rt>kuan3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>雀⿳⿳⿳ㄑㄧㆦㆶ</rb><rt>tshiok4</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>樓⿳⿳⿳ㄌㄧㄨˊ</rb><rt>liu5</rt></ruby class="ji7im1">　
<ruby class="ji7im1"><rb>王⿳ㆲˊ</rb><rt>ong5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>之⿳ㄐㄧ</rb><rt>tsi1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>渙⿳⿳⿳ㄏㄨㄢ˪</rb><rt>huan3</rt></ruby class="ji7im1"></b>
<br />
<ruby class="ji7im1"><rb>白⿳⿳⿳ㄅㆤ㆐ㆷ</rb><rt>peh8</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>日⿳⿳⿳ㄌㄧ㆐ㆵ</rb><rt>lit8</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>依⿳ㄧ&nbsp;</rb><rt>i1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>山⿳ㄙㄢ</rb><rt>san1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>盡⿳⿳⿳ㄐㄧㄣ˫</rb><rt>tsin7</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>黃⿳⿳ㄏㆲ˫</rb><rt>hong7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>河⿳⿳ㄏㄜˊ</rb><rt>ho5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>入⿳⿳⿳ㄌㄧ㆐ㆴ</rb><rt>lip8</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>海⿳⿳ㄏㄞˋ</rb><rt>hai2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>流⿳⿳⿳ㄌㄧㄨˊ</rb><rt>liu5</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>欲⿳⿳⿳ㄧㆦ㆐ㆶ</rb><rt>iok8</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>窮⿳⿳⿳ㄍㄧㆲˊ</rb><rt>kiong5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>千⿳⿳ㄑㄧㄢ</rb><rt>tshian1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>里⿳⿳ㄌㄧˋ</rb><rt>li2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>目⿳⿳⿳⿳ㆠㄧㆦ㆐ㆶ</rb><rt>biok8</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>更⿳⿳⿳ㄍㄧㄥ˪</rb><rt>king3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>上⿳⿳⿳ㄒㄧㆲ˫</rb><rt>siong7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>一⿳ㄧㆵ</rb><rt>it4</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>層⿳⿳⿳ㄐㄧㄣˊ</rb><rt>tsin5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>樓⿳⿳⿳ㄌㄧㄨˊ</rb><rt>liu5</rt></ruby class="ji7im1">。
<br />
<br />
<b>
<ruby class="ji7im1"><rb>點⿳⿳⿳ㄉㄧㆰˋ</rb><rt>tiam2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>仔⿳ㄚˋ</rb><rt>a2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>膠⿳ㄍㄚ</rb><rt>ka1</rt></ruby class="ji7im1">　
<ruby class="ji7im1"><rb>施⿳ㄒㄧ</rb><rt>si1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>福⿳⿳ㄏㆦㆶ</rb><rt>hok4</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>珍⿳⿳ㄉㄧㄣ</rb><rt>tin1</rt></ruby class="ji7im1"></b>
<br />
<ruby class="ji7im1"><rb>點⿳⿳⿳ㄉㄧㆰˋ</rb><rt>tiam2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>仔⿳ㄚˋ</rb><rt>a2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>膠⿳ㄍㄚ</rb><rt>ka1</rt></ruby class="ji7im1">，
<ruby class="ji7im1"><rb>黏⿳⿳⿳ㄌㄧㆰˊ</rb><rt>liam5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>著⿳⿳⿳⿳ㄉㄧㆦ㆐ㆷ</rb><rt>tioh8</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>跤⿳ㄎㄚ</rb><rt>kha1</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>叫⿳⿳⿳ㄍㄧㆦ˪</rb><rt>kio3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>阿⿳ㄚ&nbsp;</rb><rt>a1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>爸⿳ㄅㄚ</rb><rt>pa1</rt></ruby class="ji7im1">，
<ruby class="ji7im1"><rb>買⿳⿳ㆠㆤˋ</rb><rt>be2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>豬⿳ㄉㄧ</rb><rt>ti1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>跤⿳ㄎㄚ</rb><rt>kha1</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>豬⿳ㄉㄧ</rb><rt>ti1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>跤⿳ㄎㄚ</rb><rt>kha1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>箍⿳ㄎㆦ</rb><rt>khoo1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>仔⿳ㄚˋ</rb><rt>a2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>焄⿳⿳⿳ㄍㄨㄣˊ</rb><rt>kun5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>爛⿳⿳⿳ㄋㄨㄚ˫</rb><rt>nua7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>爛⿳⿳⿳ㄋㄨㄚ˫</rb><rt>nua7</rt></ruby class="ji7im1">，<br />
<ruby class="ji7im1"><rb>枵⿳ㄧㄠ</rb><rt>iau1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>鬼⿳⿳⿳ㄍㄨㄧˋ</rb><rt>kui2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>囡⿳⿳⿳ㆣㄧㄣˋ</rb><rt>gin2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>仔⿳ㄚˋ</rb><rt>a2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>流⿳⿳ㄌㄠˊ</rb><rt>lau5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>喙⿳⿳⿳ㄘㄨㄧˋ</rb><rt>tshui2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>瀾⿳⿳⿳ㄋㄨㄚ˫</rb><rt>nua7</rt></ruby class="ji7im1">。<br />
<br />
--> <!--暫時省略略略略結束-->
<!--  <b>
<ruby class="ji7im1"><rb>客</rb><rt>hagˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>家</rb><rt>gaˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>本</rb><rt>bunˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>色</rb><rt>sedˋ</rt></ruby class="ji7im1">　
<ruby class="ji7im1"><rb>涂</rb><rt>tuˇ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>敏</rb><rt>menˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>恆</rb><rt>henˇ</rt></ruby class="ji7im1"></b>
<br/>
<ruby class="ji7im1"><rb>唐</rb><rt>tongˇ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>山</rb><rt>sanˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>過</rb><rt>go</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>台</rb><rt>toiˇ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>灣</rb><rt>vanˇ</rt></ruby class="ji7im1">，<br/>
<ruby class="ji7im1"><rb>無</rb><rt>moˇ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>半</rb><rt>ban</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>點</rb><rt>diamˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>錢</rb><rt>qienˇ</rt></ruby class="ji7im1">，<br/>
<ruby class="ji7im1"><rb>剎</rb><rt>sadˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>猛</rb><rt>mangˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>打</rb><rt>daˋ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>拼</rb><rt>biang</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>耕</rb><rt>gangˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>山</rb><rt>sanˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>耕</rb><rt>gangˊ</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>田</rb><rt>tienˇ</rt></ruby class="ji7im1">，<br/>
。。。。。。<br/>
<br/>
			</section>

	<section>
		標音範例（橫式）<hr/>
			快到<b><%= link_to "橫式標音", :action=>"橫式範例" %></b>看看橫式的效果！
			<br />
			<br/>
	</section>
	-->
	<section class="font22px">
		<header>服務資訊</header>
		<hr />
		
		<p>本站提供「標音工具」以及「組字工具」。標音工具包含標示注音、國語翻譯、真人發音三個功能，組字工具僅包含組字功能。</p>
		<p><span style="color:blue;">標示注音</span>把輸入符合母語語法的句子標上注音，故簡稱標音工具。支援三種輸入方式，直接用輸入法輸入漢字、羅馬拼音文、或是從《組字工具》複製您的組字式，可混合使用。</p>
		<p><span style="color:blue;">國語翻譯</span>把輸入的國語翻譯成閩南語或客語，完成翻譯之後可以再用上述工具標示注音。</p>
		<p><span style="color:blue;">語音合成</span>把標音後的句子合成出整句話的發音。</p>
		<p><span style="color:blue;">組字工具</span>讓您能夠組合許多不易查找的方言文字，例如：「⿰因」、「⿰厓」。也可產生創意字例如：「⿴辶⿴宀⿱珤⿰隹⿰貝招」。</p>
	</section>
	
	<section  class="font22px">		
		<header>標音範例<hr/></header>
		<ruby class="ji7im1" class="ji7im1"><rb>我⿳⿳⿳ㆣㄨㄚˋ</rb><rt>gua2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>身⿳⿳ㄒㄧㄣ</rb><rt>sin1</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>騎⿳⿳⿳ㄎㄧㄚˊ</rb><rt>khia5</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>白⿳⿳⿳ㄅㆤ㆐ㆶ</rb><rt>pek8</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>馬⿳⿳ㆠㆤˋ</rb><rt>be2</rt></ruby class="ji7im1" class="ji7im1">
		<br/>
		<ruby class="ji7im1" class="ji7im1"><rb>我⿳⿳⿳ㆣㄨㄚˋ</rb><rt>gua2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>身⿳⿳ㄒㄧㄣ</rb><rt>sin1</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>騎⿳⿳⿳ㄎㄧㄚˊ</rb><rt>khia5</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>白⿳⿳⿳ㄅㆤ㆐ㆶ</rb><rt>pek8</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>馬⿳⿳ㆠㆤˋ</rb><rt>be2</rt></ruby class="ji7im1" class="ji7im1"><ruby class="ji7im1" class="ji7im1"><rb>走⿳⿳ㄗㄠˋ</rb><rt>tsau2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>三⿳ㄙㆰ</rb><rt>sam1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>關⿳⿳ㄍㄨㄢ</rb><rt>kuan1</rt></ruby class="ji7im1">，<br />
		<ruby class="ji7im1"><rb>改⿳⿳ㄍㄞˋ</rb><rt>kai2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>換⿳⿳ㄨㆩ˪</rb><rt>uann7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>素⿳⿳ㄙㆦ˪</rb><rt>soo3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>衣⿳ㄧ&nbsp;</rb><rt>i1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>回⿳⿳⿳ㄏㄨㆤˊ</rb><rt>hue5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>中⿳⿳ㄉㄧㆲ</rb><rt>tiong1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>原⿳⿳⿳ㆣㄨㄢˊ</rb><rt>guan5</rt></ruby class="ji7im1">，<br />
		<ruby class="ji7im1"><rb>放⿳⿳ㄅㄤ˪</rb><rt>pang3</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>下⿳⿳ㄏㄚ˫</rb><rt>ha7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>西⿳ㄙㆤ</rb><rt>se1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>涼⿳⿳⿳ㄌㄧㄤˊ</rb><rt>liang5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>無⿳⿳ㆠㄜˊ</rb><rt>bo5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>人⿳⿳ㄌㄤˊ</rb><rt>lang5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>管⿳⿳⿳ㄍㄨㄢˋ</rb><rt>kuan2</rt></ruby class="ji7im1">，<br />
		<ruby class="ji7im1"><rb>一⿳ㄧㆵ</rb><rt>it4</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>心⿳⿳ㄙㄧㆬ</rb><rt>sim1</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>只⿳⿳ㄗㄧˋ</rb><rt>tsi2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>想⿳⿳⿳ㄙㄧㆫ˫</rb><rt>siunn7</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>王⿳ㆲˊ</rb><rt>ong5</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>寶⿳⿳ㄅㄜˋ</rb><rt>po2</rt></ruby class="ji7im1"><ruby class="ji7im1"><rb>釧⿳⿳ㄘㄨㄢ</rb><rt>tshuan1</rt></ruby class="ji7im1">。<br />
		<br />
	</section>
			
</article>
		</div>